[2019-08-25 20:48] nickspoons commented on #504
Hi @Melandel, no, you didn't miss anything. The `:OmniSharpGlobalCodeCheck` command is exactly that: global. It just returns all diagnostics which we receive from the server, the only filtering being done on our end is the diagnostic overrides  you have mentioned, which won't help you here. The temp files you have in your screenshot are presumably being generated by `dotnet`, and OmniSharp-roslyn

[2019-08-27 05:30] Melandel commented on #504
Thank you for your quick answer!

Does omnisharp vim use the omnisharp.json configuration files it finds when starting the roslyn server?
From my questionable understanding, the file scope management is already supposed to be supported at the roslyn configuration level, and omnisharp vim consumes that server.

[2019-08-27 05:35] Melandel commented on #504
Thank you for your quick answer!

Does omnisharp vim use the omnisharp.json configuration files it finds when starting the roslyn server?
From my questionable understanding, the file scope management is already supposed to be supported at the roslyn configuration level, and omnisharp vim consumes that server.

I attempted to run the roslyn server first and then run vim, but although I was successf

[2019-08-27 07:33] giesmininkas opened #505 "Start OmniSharp server without a solution file"
As far as I understand, this is already implemented in omnisharp-roslyn (https://github.com/OmniSharp/omnisharp-roslyn/issues/634 https://github.com/OmniSharp/omnisharp-roslyn/pull/635).

It would be nice, if that functionality would be included in the vim plugin also.

Thank you.

[2019-08-27 08:56] nickspoons commented on #505
Hi @giesmininkas, try this:

[code]

[2019-08-27 09:51] nickspoons commented on #504
Running the server and then attaching doesn't work with the stdio server, that only really worked with the HTTP server.

No, omnisharp-vim doesn't interact with the `omnisharp.json` file, that's only used by the server. So the `excludeSearchPatterns` from your example won't be seen by omnisharp-vim - I don't know if it's seen by omnisharp-roslyn, I haven't come across those settings before.

[2019-08-27 11:32] giesmininkas commented on #505
Oh, sorry. Somehow I've managed to miss this option. Plugin works as supposed now. Thank you again.

[2019-08-27 11:32] #505 closed

[2019-08-27 19:46] nickspoons commented on #505
You don't have to apologise, it's an undocumented feature. It was added years ago (before my time) but I'm not sure it has always worked well. It does seem to work well these days with OmniSharp-roslyn - we should probably make it the default.

[2019-08-27 20:35] Melandel commented on #504
Thank you for all your answers ! :)

[2019-08-28 17:48] gabrieljoelc opened #506 "Doesn't download OmniSharp-Roslyn before trying to start on macOS"
When I try to install OmniSharp-Roslyn with auto installer, I get this error:
[code]
The `/Users/gabe/.omnisharp` directory does exist but it's empty. It's almost like it's trying to start the server before it downloads it.

Don't know if this is an issue trying to execute `omnisharp-manager.sh` on macOS, but I did notice a carriage return character at the end of the error that outputs above. I tr

[2019-08-28 19:43] axvr commented on #506
Hi @gabrieljoelc, this seems to be a very unusual issue.

So that we can get a full error log, would you mind replacing this line in your download of omnisharp-vim

https://github.com/OmniSharp/omnisharp-vim/blob/763f4f29294ff7c781eb995a51dd7f061a9b775b/autoload/OmniSharp.vim#L1230

with this line

[code]

Move the copy of OmniSharp-Roslyn somewhere else temporarily, and try again.

[2019-08-28 19:43] axvr commented on #506
Hi @gabrieljoelc, this seems to be a very unusual issue.

So that we can get a full error log, would you mind replacing this line in your download of omnisharp-vim

https://github.com/OmniSharp/omnisharp-vim/blob/763f4f29294ff7c781eb995a51dd7f061a9b775b/autoload/OmniSharp.vim#L1230

with this line

[code]

Move the copy of OmniSharp-Roslyn somewhere else temporarily, and try again.

[2019-08-28 19:50] axvr commented on #506
Oh it would also be helpful if you could give us the output of this command:

[code]

[2019-09-01 19:05] Sioma112233 opened #507 "using g:OmniSharp_start_without_solution takes 30 seconds untill autocompletion starts working"
Hi there, First time OmniSharp-vim user here.
I mostly wanted to use this plugin for autocompletion on small "scripts", without any solution.
I first tried opening a `.cs` file inside a solution dir and the plugin worked without problems.
Then tried opening a `.cs` file in an empty directory and the Server failed to start

So, I found a variable name `g:OmniSharp_start_without_solution` and set it

[2019-09-01 19:19] nickspoons commented on #507
Hi @Sioma112233,

Yes there's an ongoing issue with determining when the OmniSharp-roslyn server is completely loaded and ready to be used. In most situations the server sends logging information which OmniSharp-vim can use to trigger a "server is loaded and ready for use" flag. But when there's no solution/project then there isn't anything like that from the server, and OmniSharp-vim doesn't know

[2019-09-01 19:41] Sioma112233 commented on #507
Thanks! didn't expect such fast response :)
using `g:OmniSharp_server_stdio_quickload` for now

[2019-09-02 20:20] Sioma112233 opened #508 "No Documentation beyond signature (atleast on Linux)"
:OmniSharpDocumentation just shows the function signature.

![image](https://user-images.githubusercontent.com/15633858/64132333-cea39300-cdd7-11e9-9059-041e757d6755.png)

This happens on linux.
Am I missing something I needed to install?

[2019-09-02 20:36] nickspoons commented on #508
You're missing all the details about your setup. Is this a `dotnet` project or legacy .NET Framework project with mono? Or just a single file with no project? What are your OmniSharp settings in your .vimrc?

Not all projects return the same documentation.

[2019-09-02 20:41] Sioma112233 commented on #508
The file was part of a "legacy" solution (mono)
these are my omnisharp-vim settings:
[code]

[2019-09-02 21:18] nickspoons commented on #508
I just tried this quickly in both a `dotnet` project and a `.NET Framework` project.

In `dotnet` I get documentation for `string.Format()`. In `.NET Framework` I don't. This is the same in VSCode (which uses the same OmniSharp-roslyn server). I _do_ get documentation for `Console.WriteLine` in `.NET Framework` so try that out.

In Visual Studio, however, there _is_ documentation for `string.Forma

[2019-09-02 21:18] #508 closed

[2019-09-02 21:28] Sioma112233 commented on #508
Thanks, it does seem that the server is returning no documentation from this log
[code]

[2019-09-02 21:38] nickspoons commented on #508
For `Console.WriteLine` and `string.Format` I get:

[code]

Can you quickly try in a `dotnet` project to compare? `dotnet new console` is all you need (assuming you have `dotnet` installed...)

[2019-09-02 21:46] Sioma112233 commented on #508
works, for both `Console.WriteLine` and `string.Format`

[2019-09-03 05:33] JohanBjoerklund commented on #433
Works like a charm.

[2019-09-03 17:06] jmzagorski opened #509 "OmnisharpFixUsings with usings within namespace does not add blank line"
I've been putting my using statements within the namespace and noticed when I call `:OmniSharpFixUsings` (using the mapping `nnoremap <buffer> <LocalLeader>fx :OmniSharpFixUsings<CR>`) the using gets added to the bottom of the list without a blank line between the last using and the class line. If the using is outside the namespace, it gets added with the appropriate spacing.

![image](https://use

[2019-09-03 20:38] jmzagorski commented on #509
Also, same thing happens on code actions. I had a few lines of `private readonly` services above the constructor and when I added a new services and selected **Generate read-only field AccountController._repository** it added it without a blank line inbetween the last service and constructor

![image](https://user-images.githubusercontent.com/8404957/64206776-3b1aa280-ce69-11e9-900a-24248e763a4b.p

[2019-09-03 20:49] nickspoons commented on #509
@jmzagorski Those features are provided by the server and we don't do any manipulation on the OmniSharp-vim side. All that happens is, we send the server an action and the current state of the buffer, and the server sends back the changes (what needs to be added where).

Feel free to open an issue at [OmniSharp/omnisharp-roslyn](https://github.com/OmniSharp/omnisharp-roslyn).

[2019-09-03 20:49] #509 closed

[2019-09-04 00:53] jmzagorski commented on #509
@nickspoons thank you for pointing me in the right direction!

[2019-09-07 08:43] emKaroly opened #510 "Using VSCode omnisharp server"
Is there a way to set "let g:OmniSharp_server_path" the way it uses the omnisharp from vscode csharp extension and dont break when update the extension(because the path to extension contains the version number)?

[2019-09-09 01:05] nickspoons commented on #510
No, there's no way to do this.

[2019-09-09 01:05] #510 closed

[2019-09-09 06:40] emKaroly commented on #510
Ok i solved the problem thank you for your help.
`let g:OmniSharp_server_path = fnamemodify(findfile('run',$HOME . '/.vscode/extensions/*/.omnisharp/*/'),':p')
`

[2019-09-09 08:07] nickspoons commented on #510
Good solution. Out of curiosity, why do you prefer this to just letting OmniSharp-vim download its own copy? Just to save disk space?

[2019-09-09 11:31] emKaroly commented on #510
Save disk space and to work with same version as it is in VSCode because i constantly switching between them.

[2019-09-09 22:28] DianeOfTheMoon opened #511 "Support XDG directory specification?"
Given the fact that Neovim uses the [xdg directory](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) specification should OmniSharp-vim also support it, if it's detected?  I think where the server is installed is about the only item that would be updated.

[2019-09-09 22:39] nickspoons commented on #511
Perhaps ... the reason that OmniSharp-vim installs OmniSharp-roslyn under `~/.omnisharp` is because OmniSharp-roslyn already uses that directory, that's where `~/.omnisharp/omnisharp.json` is.

Related: OmniSharp/omnisharp-roslyn#953

[2019-09-09 23:37] nickspoons commented on #511
@DianeOfTheMoon I just noticed OmniSharp/omnisharp-roslyn#1317 which checks for an `$OMNISHARPHOME` environment variable for the `omnisharp.json` file. Using that would be pretty simple, but I suppose we could check for any of `$OMNISHARPHOME`, `$XDG_DATA_HOME`, `~/.local/share` and use any of those if they exist - does that sound reasonable?

Were you considering making a PR? Note that this invol

[2019-09-10 00:27] DianeOfTheMoon commented on #511
Yeah, I'd put up a PR, just wanted to get your read before I did.

[2019-09-10 00:33] nickspoons commented on #506
@gabrieljoelc can you please provide the info @axvr has asked for? We can't help debug this or fix any problems without more info from you.

[2019-09-10 11:42] timvisee commented on #66
I'm attempting to use this for Unity 3D (on Linux), which doesn't provide a `.sln` file.

Somehow I can't get it to work

neither with the `-s` flag, it just states the solution file is not found.

Is this still supported, using OmniSharp without a solution file?

[2019-09-10 18:32] gabrieljoelc commented on #506
sorry about the delay. here's the output requested from commands:
[code]
i'll try to get the full error log some time this week.

[2019-09-10 18:51] nickspoons commented on #66
@timvisee you're responding to a 5 year old comment in a 6 year old thread.

The easiest way to run OmniSharp-vim now is by adding `let g:OmniSharp_start_without_solution = 1` to your .vimrc. If you have trouble after that, feel free to open a new issue.

[2019-09-10 19:12] timvisee commented on #66
I know, I didn't want to open a new issue for something that looked like the same issue.

Thanks a lot though for mentioning that property, I couldn't find anything about it in the README. I'll give it a try tomorrow. :)

[2019-09-10 21:12] DianeOfTheMoon commented on #511
@nickspoons Since I've never really done anything with Vimscript, does this look right to you?  It should not break existing installs, but prefer XDG for neovim installations:

[code]
Sorry to be a bit gun shy, but want to validate this before updating anything else and I don't know if I'm over complicating it.

[2019-09-10 22:42] nickspoons commented on #511
@DianeOfTheMoon looks good!

1. I don't think we should treat Vim and Neovim differently.
2. I believe `APPDATALOCAL` should be `LOCALAPPDATA`, and in my Windows 10 gvim `echo expand('%LOCALAPPDATA%')` doesn't output anything, but `echo expand('$LOCALAPPDATA')` does.
3. For the sake of consistency, lets always wrap environment variables with `expand()` (there are unwrapped `$OMNISHARPHOME` and `XD

[2019-09-11 06:20] emKaroly opened #512 "Vim hangs when editing large files"
HW: MacBookAir 2013
OS: MacOS High Sierra
Vim 8.1.1722

`
"========PLUGINS==============================================================
Plugin 'VundleVim/Vundle.vim'
" Appearance
Plugin 'flazz/vim-colorschemes'
Plugin 'itchyny/lightline.vim'
Plugin 'ap/vim-buftabline'
"Plugin 'octol/vim-cpp-enhanced-highlight'
"Plugin 'kendling/taghighlight'
Plugin 'jeaye/color_coded'
" Wiki
Plugin 'vimwiki/vimwi

[2019-09-11 06:52] nickspoons commented on #512
You have an awful lot going on in that .vimrc. For example, you have both OmniSharp-vim and YouCompleteMe - these both run their own copies of OmniSharp-roslyn.

Could you please comment out all plugins except OmniSharp-vim and check that it actually is OmniSharp-vim which you are having trouble with?

[2019-09-11 06:55] nickspoons commented on #512
Note that you'll need to use standard Vim omnicompletion to trigger completions from OmniSharp-vim: `<C-x><C-o>`

You can also try commenting out everything except YouCompleteMe and see if it's that plugin which is causing lags. This seems more likely, since you are describing "autocompletion" occurring as you type, and OmniSharp-vim does not provide this (you can use other plugins to get this beh

[2019-09-11 17:28] emKaroly commented on #512
I tried and with all plugins disabled its working fine but hard to comapre because no autocomple after "."

[2019-09-11 17:33] emKaroly commented on #512
With YouCompleteMe alone its working fine. When Both YCM and OmniSharp are enabled, its bad. The other plugins definitely add a lot of overhead but these two probably doesn't work really well together. Any sugetion for lightweight autocompletion solution? I need C/C++ C# Python

[2019-09-11 18:20] nickspoons commented on #512
Yeah running YCM and O#-vim together is going to be heavy with the double-servers.

You could try keeping YCM for your other languages and just disable it for C#? Then use asyncomplete or mucomplete to get autocompletion with O#-vim. I use asyncomplete currently.

[2019-09-12 07:00] emKaroly commented on #512
If YouCompleteMe uses OmniSharp why it does not do what OmniSharp VIm plugin? But thats probably question on YCM. Thank you for time, i am closing this issue.

[2019-09-12 07:00] #512 closed

[2019-09-17 23:22] nickspoons commented on #499
Thanks @jpfeiffer16, I tried starting the server in various ways with `cmd.exe` wrappers etc., but had no luck.

After further experimentation, I've found that neovim can't communicate directly with .NET Framework executables.The following program works receives and returns messages to neovim when compiles as a .NET core project, but not as a .NET framework project:

[code]

The .NET Framework pro

[2019-09-17 23:30] nickspoons commented on #499
For anyone interested, here's the vim script I've been using to test calling the above program:

[code]

[2019-09-18 20:43] DianeOfTheMoon opened #517 "OmniSharpGoToDefinition can lock current buffer"
Using OmniSharp-vim on a Unity project, when calling :OmniSharpGotoDefinition on MonoBehaviour, it will open the public class definition in a new buffer, but then switch back to the one I was in and turn modifiable off.

[2019-09-18 22:02] nickspoons commented on #517
That's strange, I don't have a Unity environment but I can't repro it in other projects.

Perhaps it's [autoload/OmniSharp.vim:345](https://github.com/OmniSharp/omnisharp-vim/blob/master/autoload/OmniSharp.vim#L345)? Could you try commenting that line out and see if it helps?

[2019-09-18 22:03] nickspoons commented on #517
Oh sorry I forgot you were in neovim - yes I can reproduce it

[2019-09-18 22:04] nickspoons commented on #517
And it _does_ appear to be that line.

@jpfeiffer16 do you remember why that line is there? Both Vim and Neovim seem to work without it?

[2019-09-18 22:33] nickspoons commented on #517
With that line, Vim has an extra location in the jumplist, so you have to do `<C-o>` twice to get back. It may have something to do with the `noautocmd` call being used.

PR incoming.

[2019-09-19 04:58] jpfeiffer16 commented on #517
@nickspoons. Change looks good to me!

[2019-09-19 07:02] #517 closed

[2019-09-21 00:08] giesmininkas opened #519 "OmniSharp-vim does not provide autocomplete if file has not been opened"
Sorry to bother you over this, most probably, really stupid problem.

OmniSharpGotoDefinition outputs "Not found" if file containing class (or anything) has not been opened since opening vim. Since opening file, Omnisharp correctly finds references, definitions.

Im using coc.vim with coc-omnisharp, NeoVim 0.3.8.
OmniSharp-Roslyn is installed, other means of autocompletion works.
I also tried omni

[2019-09-21 08:44] nickspoons commented on #519
Coc-omnisharp is a different repo. Are you using OmniSharp-vim? It doesn't really make sense to use them both together.

[2019-09-29 17:16] Laptop765 opened #520 "ALE exit code 9009"
This is less of a bug and more of an FYI.  Recently I found that my ALE / OmniSharp integration stopped working (e.g. my gutter indicators stopped showing up.)  ALEInfo showed exit code 9009 which is "file not found."  But what file could not be found?

Turns out it was Python itself.  Despite adding the VS-installed Python 2 and 3 to my path, Windows started redirecting python.exe and python3.exe

[2019-09-29 20:35] nickspoons commented on #520
Thanks for the info. I'll close this as it isn't specific to this plugin.

We've also removed python as a dependency if you use `stdio` mode, it uses Vim 8.0 or Neovim jobs for asynchronous communication with the server with no need for the python middleman, it's much faster and smoother so give it a go.

[2019-09-29 20:35] #520 closed

[2019-09-29 20:37] nickspoons commented on #519
Closing due to lack of response, and probably wrong repo.

[2019-09-29 20:37] #519 closed

[2019-10-05 07:56] Melandel opened #521 "Using WSL, invalid URI for the NuGetFallbackFolder located on WSL"
Hi,

I love this project and would first of all thank you for putting it up, it's amazing.

Here's a scenario:
On Windows 10 (version 19.03, build 18362.267) using WSL (Debian 10) and vim from it

[code]

Editing source code located in `/mnt/c/**` from WSL with vim works.
Running `:!dotnet build` within vim works.

However, after quitting vim, opening the same file again doesn't work anymore. I ha

[2019-10-07 20:47] Nazeehe opened #522 "My gVim hangs when attempting to get completions"
Hey!

I am attempting to use gVim for some C# development (coming from VSCode). Got Omnisharp-vim installed using stdio. I can repro this issue 100%. I have a Unity project that I am loading the project for. I load a cs file and the server loads fine. I attempt to get completion using C-x C-o and Vim will hang. Sometimes it will hang on the "Searching..." message, other times it will say that Omni

[2019-10-07 21:06] nickspoons commented on #522
Please don't paraphrase, this is a bug report, details matter.

How do you know the server loads fine? Do other OmniSharp actions work, like `:OmniSharpGotoDefinition`, `:OmniSharpFindUsages` etc.?

Could you post your .vimrc? If you're not using a plugin manager that lists your plugins, then also post a list here.

[2019-10-07 21:34] nickspoons commented on #521
Hi @Melandel,

I think what's happening is that you are using the WSL version of `dotnet` to build, and then the Windows version of OmniSharp-roslyn to code. OmniSharp-roslyn then gets confused because the files generated by `dotnet build` all reference WSL paths.

On my Windows machine I have `dotnet` installed on the WSL (Linux) side, and also on the Windows side. From WSL, `dotnet` refers to th

[2019-10-07 21:40] Nazeehe commented on #522
First off, thanks for the quick response.

Update: I followed the instructions in this article: https://blog.bigfont.ca/vim-with-csharp-dotnet-and-omnisharp-on-windows/

and the hang is no longer happening and it seems to be OK. I will spend more time with it and re-open this issue. So far seems like a user error installing OmniSharp. Apologies, still relatively new to vim but learning quickly.

[2019-10-07 21:40] #522 closed

[2019-10-07 21:48] nickspoons commented on #522
No worries.

That article is extremely out of date though, and very erroneous. You don't have to build the server yourself - once you've installed OmniSharp-vim, the plugin will download the latest OmniSharp-roslyn release from github. Second, the article suggests building the legacy server, used before it was replaced with OmniSharp-roslyn - but then spceifically telling OmniSharp-vim to use the

[2019-10-21 08:06] #521 closed

[2019-10-23 00:08] antoinemadec opened #524 "deoplete completion is not triggered after '.'"
@stevearc @nickspoons thanks a lot for this great plugin and the nice Deoplete integration!

Everything works fine for me except that the completion in Deoplete is not triggered after a ```.```.
For intance, this does not trigger all the candidates:
[code]
although ```CTRL+x+o``` works just fine...

On the other hand, if we type 2 chars after the ```.```, deoplete will behave properly.
For instanc

[2019-10-23 00:25] nickspoons commented on #524
Having a quick look at [deoplete_OmniSharp.py](https://github.com/OmniSharp/omnisharp-vim/blob/master/rplugin/python3/deoplete/sources/deoplete_OmniSharp.py) compared with other deoplete sources, it looks like an `input_pattern` is needed.

However, I don't use deoplete myself and I don't know if it's more involved than that. Could be worth comparing with the other deoplete [Completion-Sources](ht

[2019-10-23 17:37] antoinemadec commented on #524
@nickspoons good catch! I just created a PR which fixes the issue.

[2019-10-23 20:39] #524 closed

[2019-10-24 00:09] antoinemadec opened #526 ":OmniSharpDocumentation does not print anything"
``` :OmniSharpDocumentation``` ends up executing this function in **autoload/OmniSharp.vim**
[code]
In this function, I printed a couple of variables:
_pycmd_
[code]
_opts_
[code]
_response_
[code]

It looks like the doc has been found, but it does not appear in the preview window.
Here is my minimal **vimrc**:
[code]

OS: Debian_GNULinux_bullseyesid (testing)
Vim compiled from source, has **pytho

[2019-10-24 00:44] #526 closed

[2019-10-24 00:45] nickspoons commented on #526
Thanks for the detailed issue! The wrong callback function was being called with the response.

[2019-10-25 10:03] lucabol commented on #499
fyi I am using the proxy script referenced [here](https://github.com/OmniSharp/omnisharp-vim/issues/468#issuecomment-502325220) to work around this problem (modified to run on Windows). Most things work, except from "ALE". I think it is because the python script goes directly to the OmniSharp server instead of going to the Proxy. I didn't find an obvious point in the code to fix that. Also, it is

[2019-10-25 10:29] nickspoons commented on #499
Hmm, I don't think that is the reason - ALE is handled completely differently in stdio mode, and the `python/ale_lint.py` script should never be loaded (line 5 of `ale_linters/cs/omnisharp.vim` exits early in stdio mode, and this is the file which loads `ale_lint.py`).

In stdio, the ALE autocmd `ALEWantResults` is triggered (see `plugin/OmniSharp.vim` line 102), and the function that is called on

[2019-10-25 10:42] lucabol commented on #499
Looking at it a bit more. Running ALEInfo it seems that the OmniSharp linter is not enabled, despite being in the ale_linters dictionary and the file being recognized as cs.

Current Filetype: cs
Available Linters: ['csc', 'mcs', 'mcsc']
Enabled Linters: []
... other settings ...
g:ale_linter_aliases = {}
let g:ale_linters = {'cs': ['OmniSharp']}

[2019-10-25 10:45] nickspoons commented on #499
@lucabol that is expected - it's a side-effect of using the `ALEWantResults` autocmd, instead of letting ALE have complete control.

[2019-10-25 10:48] lucabol commented on #499
I see. Thx. I have removed silent from ale.vim as you suggested above. What should I do debug this more? Sorry, I am new to Vim and Omnisharp ...

[2019-10-25 10:55] nickspoons commented on #499
@lucabol I was just thinking of tracing the execution by adding `echomsg 'here I am'` through the code, from the `s:ALEWantResults()` function initially called by ALE, to `ale#sources#OmniSharp#WantResults()` to `OmniSharp#stdio#CodeCheck()` etc. Nothing like good old `Console.WriteLine("made it this far")` debugging :)

My laptop is about to run flat so I'm going to hit the hay, good luck!

[2019-10-25 11:09] lucabol commented on #499
@nickspoons everything in the 'augroup OmniSharp#Integrations' starting on line 99 is executed correctly. I put an echomsg after each statement and saw them all when opening nvim.

[2019-10-25 11:24] nickspoons commented on #499
@lucabol the question is whether the `s:ALEWantResults()` function is getting called

[2019-10-25 11:35] lucabol commented on #499
Yes, it is as the echomsg after it gets printed.

[2019-10-25 14:06] Rakete1111 opened #527 "No completion for Monogame"
I have auto completion for C# in general (for things like an `int`), but not for classes related to MonoGame.

I created a solution file, added the csproj file to it and the project builds and runs properly. I'm assuming I'm missing something, but I can't figure out what.

[2019-10-25 15:29] frarees opened #528 "My omnisharp-vim setup no longer working after upgrading to macOS Catalina"
Some of my settings:

[code]

e.g. I get this error when I try to go to definition.

[code]

I also can't get to find usages.

If I don't use `g:OmniSharp_start_without_solution` or `g:OmniSharp_server_stdio_quickload` (which I wasn't using before), it complains about not receiving a server response on the sln file.

I'm using macOS Catalina now. It all worked before the upgrade, but I'm not sure

[2019-10-25 18:47] nickspoons commented on #527
Please post the relevant details of your system:

- OS
- Vim/neovim version
- .vimrc
- plugins (if not included in .vimrc)

[2019-10-25 20:04] nickspoons commented on #528
First of all, could you make sure you have the very latest OmniSharp-roslyn, so we're on the same page? A new version (1.34.6) was just released a few hours ago. (You can check which version you have by looking for the `OmniSharpInstall-version.txt` file in your OmniSharp-roslyn install location, probably `~/.cache/omnisharp-vim/omnisharp-roslyn/OmniSharpInstall-version.txt`) - install the latest

[2019-10-26 09:58] Rakete1111 commented on #527
- Arch Linux
- vim 8.1 (1-2102)
- Plugins: ale, asyncomplete, fzf, lightline, omnisharp-vim, spacegray, vimtex

[code]

[2019-10-26 14:24] frarees commented on #528
Thank you for the clear instructions.

[code]

Running the server standalone:
[code]

So I've installed .NET Core 3.0 i.e. `dotnet-runtime-3.0.0-osx-x64.pkg`, but I'm not sure if that's enough or do I have to setup anything else? The issue listed above keeps popping up.

[2019-10-26 21:25] nickspoons commented on #528
@frarees we're out of OmniSharp-vim territory and into OmniSharp-roslyn now, so I'm happy to help but I'll close the issue too.

I haven't tried that `FrameworkPathOverride` technique before, and I'm not really sure why OmniSharp-roslyn isn't using its embedded mono automatically, that's strange. There is obviously some complicated logic going on in there, trying to handle all the mono/dotnet/msbu

[2019-10-26 21:25] #528 closed

[2019-10-26 21:36] nickspoons commented on #527
@Rakete1111 OK, that looks OK. Next, try just running the server, without Vim. cd into the directory containing your .sln file, and then run ~/.cache/omnisharp-vim/omnisharp-roslyn/run, and post the output here. Hopefully there will be some hints in the output about why the server isn't running properly.

[2019-10-27 10:11] Rakete1111 commented on #527
Here it is:

[code]

That message about the Code SDKs looks very suspicious. I do have them installed though.

The verbose log has a few failures, I'm not sure if that's relevant or not:

[code]

[2019-10-28 09:19] nickspoons commented on #527
I wouldn't worry about the `It was not possible to find any installed .NET Core SDKs` error for now - I've been seeing that too in the 2 latest versions of OmniSharp-roslyn, and while it's annoying, it doesn't seem to prevent the server from working correctly.

More interesting to me is the `FAILURE: Could not locate '/home/user/.cache/omnisharp-vim/omnisharp-roslyn/omnisharp/.msbuild/Current/Bin/

[2019-10-28 09:49] Rakete1111 commented on #527
That worked! Although I do still see the failure you mentioned. Oh well, thanks! (mono was already installed).

[2019-10-28 09:49] #527 closed

[2019-10-30 20:29] Bergiu opened #529 "Use fzf for :OmniSharpFindUsages"
If i execute :OmniSharpFindUsages I think it would be great to display it in fzf. Currently it is displayed in another vim window. Same for :OmniSharpFindMembers.

[2019-10-30 21:03] nickspoons commented on #529
These are stored in the quickfix list, which can be displayed in the quickfix window. This is important because:

1. It's built-in Vim behaviour so it works with other plugins which use the quickfix list, e.g. [vim-qf](https://github.com/romainl/vim-qf) and [vim-qf-preview](https://github.com/bfrg/vim-qf-preview) (just 2 examples I happen to use)
2. The quickfix list is saved and you can use vim c

[2019-10-30 23:57] amilmyob opened #530 "Syntax Coloring breaks after an insert"
After loading a CSharp project the colorscheme works normally. Once you make an edit on a csharp file, the syntax coloring breaks.
Consistently breaks with multiple color schemes (Gruvbox, Solarized and PaperColor).
This possibly has something to do with how the types are highlighted.

![before](https://user-images.githubusercontent.com/56858926/67907558-5df8d700-fbcc-11e9-9849-818a8aedf209.JPG)

[2019-10-31 00:00] nickspoons commented on #530
How is it broken?

[2019-10-31 00:03] nickspoons commented on #530
Are you referring to all the blue and green in your 2nd screenshot? That's not broken, it's the OmniSharp-vim [semantic highlighting](https://github.com/OmniSharp/omnisharp-vim#semantic-highlighting)

[2019-10-31 16:07] DasOhmoff opened #531 "How to disable OmniSharpNavigate"
Hello,

I mapped "\<C-j\>" and "\<C-k\>" to something,
but every time I use those mappings in a cs file, it uses the omnisharp navigation feature, even though I did not define this in my vimrc.

How can I remove this behavior?

Best regards,
DasOhmoff

[2019-10-31 18:45] nickspoons commented on #531
To see what these keys are mapped to, run the following in Vim:

[code]

[2019-11-03 01:56] isaiahfisher commented on #66
@nickspoons sorry to resurrect a ancient issue but with using ```let g:OmniSharp_start_without_solution = 1``` will this allow me to still get linting for my Unity project code? If not has there been an update to allow for the generation of .csproj and .sln files since this thread was opened all these years ago.

[2019-11-03 02:47] nickspoons commented on #66
OmniSharp-vim doesn't generate files like that, no. These days the simplest way to generate a .sln is using `dotnet new sln`, and adding projects to it with `dotnet sln add MyProject.csproj`. I don't know if mono has a .NET Framework alternative?

I would otherwise expect `let g:OmniSharp_start_without_solution = 1` to work with Unity, but I don't know, I don't use Unity. Perhaps you could give it

[2019-11-03 19:36] movestill commented on #66
I haven't used Unity in about a year, but I would always have Unity generate the .sln and .csproj files for me.

[2019-11-04 08:08] DasOhmoff commented on #531
Oh, ok thanks, for some reason this configuration was saved in a vim session. I removed all the files from ~/.vim/view, and now it works again.

[2019-11-04 08:08] #531 closed

[2019-11-04 22:43] #530 closed

[2019-11-06 17:37] snaveevans opened #532 "Coc.nvim + omnisharp-vim"
Hi,
I'm getting back into C# and I've gotten into using vim (nvim) for just about all my editing now and was hoping to get it working for C# as well.  I'm using coc.nvim and some other extensions for for typescript, javascript, vue, html & css.  In the readme it states completions sources are provided for coc.nvim, however I'm unsure if there is additional configuration needed for the sources to w

[2019-11-06 20:04] nickspoons commented on #532
Hi @snaveevans,

I'm not entirely sure if there's more setup involved for coc.nvim, I don't use it myself.

But before getting into configuring integrations - is OmniSharp-vim itself working properly? Can you use `:OmniSharpGotoDefinition` and `:OmniSharpFindUsages`? `:OmniSharpGlobalCodeCheck`?

If those commands _aren't_ working, check that the server is running correctly. In your terminal (not

[2019-11-07 00:01] snaveevans commented on #532
It wasn't working when trying to execute `run` from my project directory.  I purged the omnisharp-vim folder and installed it again and now omnisharp-vim is working.  Code completion works with `<C-space>` and after tweaking coc.nvim's settings via `:CocConfig` I got completion to work after type a period `.`. Next step get ALE working, thank you!

[2019-11-07 00:01] #532 closed

[2019-11-07 10:33] #256 closed

[2019-11-08 15:34] artkpv opened #533 "1) Warning: "It was not possible to find any installed .NET Core SDKs". 2) No documentation"
I'm running OmniSharp on Neovim / Arch Linux. Looks great so far! But there are two issues. When I open some .cs file it shows the warning as below. And `:OmniSharpDocumentation` does not display any other info except a signature. Is it by design or should it display more info (like comments etc.)?

The warning:
[code]

Versions. .Net Core was installed from https://aur.archlinux.org/packages/dotn

[2019-11-08 20:00] nickspoons commented on #533
Hi @artkpv,

Yes the `It was not possible to find any installed .NET Core SDKs` warning is very annoying - I've been seeing it too on arch Linux, with the last few version of OmniSharp-roslyn. I haven't managed to research it much, since everything still works. I believe it's stderr output from `dotnet`, passed on by OmniSharp-roslyn.

Is everything else working for you? `:OmniSharpGotoDefinition`

[2019-11-14 14:46] artkpv commented on #533
@nickspoons Thanks for your comment. Yes, other commands I tested work to me.

`:OmniSharpDocumentation` does not work on `Console.Write`:( . The log ("debug") without it:

Also I noticed that if I do `:OmniSharpGotoDefinition` on `Console.Write` the signature of this method  which is in `/tmp/<temp dir>/Console.cs` does not have any comments.

[2019-11-14 21:34] nickspoons commented on #533
It's strange. In a .NET Framework project, I still (as noted in #508) get documentation for `Console.Write(` but not `string.Format(` - and when viewing the metadata with `:OmniSharpGotoDefinition`, `/tmp/.../Console.cs` has XML comments, and `/tmp/.../String.cs` does not, so this matches what you say about documentation being extracted from XML comments.

However, at the time of #508, I always go

[2019-11-14 23:51] nickspoons commented on #533
@artkpv [this comment](https://github.com/OmniSharp/omnisharp-roslyn/issues/1610#issuecomment-535657086) provides a solution for making the `It was not possible...` warning go away. Simply remove (back up) `/usr/sbin/dotnet` and instead create a symlink:

[code]

[2019-11-15 12:39] artkpv commented on #533
@nickspoons Installing `msbuild-16-bin` from AUR didn't help. The warning dissappeared though I didn't make the symlink.

[2019-11-15 20:24] nickspoons commented on #533
@artkpv could you try telling OmniSharp-roslyn to `UseLegacySdkResolver`, as described in [this comment](https://github.com/OmniSharp/omnisharp-vim/issues/527#issuecomment-546859848)?

[2019-11-16 14:08] IanLeeClaxton commented on #533
Getting this on mac also:
`[info]: OmniSharp.Stdio.Host
        Omnisharp server running using Stdio at location '/Users/ianclaxton/source/WebApplication1' on host 927.
  It was not possible to find any installed .NET Core SDKs
  Did you mean to run .NET Core SDK commands? Install a .NET Core SDK from:
      https://aka.ms/dotnet-download
[warn]: OmniSharp.MSBuild.ProjectManager
        Failed to

[2019-11-16 15:00] Rakete1111 opened #534 "Error finding uses old .Net instead of project .Net"
My project uses .Net Framework 4.5 and as such I have access to `List<T>.Zip`. But I get an error in vim that no such method exists, so it must be that it uses an older version.

I can compile the project just fine with `msbuild`, so it must be an issue with OmniSharp I gather. I tried to modify the `omnisharp.json` file like so:

[code]

but that doesn't seem to have any effect. I can see in the

[2019-11-16 19:20] #534 closed

[2019-11-16 19:33] nickspoons commented on #534
@Rakete1111 would you mind saying what your resolution was? It might help people finding this issue in future.

[2019-11-16 19:45] nickspoons commented on #533
@IanLeeClaxton that does not sound like the same issue. This issue is taking missing documentation as well as a warning, in an environment where OmniSharp-vim is otherwise writing correctly. You are getting the warning along with a much longer error, and your OmniSharp-vim is presumably not working?

Please open a new issue. But note that this is just likely an OmniSharp-roslyn issue: try running

[2019-11-19 12:14] artkpv commented on #533
@nickspoons No, didn't work out.

![image](https://user-images.githubusercontent.com/3657998/69145678-3f0ca700-0adf-11ea-979d-1dd7957e27f7.png)

[2019-11-19 12:32] Rakete1111 commented on #534
It wasn't an issue with OmniSharp, but with my code (missing an include due to my bad knowledge of C#). sorry

[2019-11-19 20:03] nickspoons commented on #534
OK, thanks for reporting back.

[2019-11-19 20:29] nickspoons commented on #533
@artkpv that's a pity, I'm out of ideas sorry.

I'm going to close this as it's not an OmniSharp-vim issue - the documentation is not being sent from the server. If you manage to get any further with this please do report back here. If you want to spend more time comparing setups then perhaps the `#vim` channel in the [OmniSharp Slack](https://omnisharp.herokuapp.com/) would be a better place?

[2019-11-19 20:29] #533 closed

[2019-11-26 11:12] sfmy commented on #347
chmod +x  run may help

[2019-11-26 12:34] Rayal opened #536 "Unable to install"
I must be doing something fundamentally wrong, but I don't know what.

I'm using Vundle to install. I added the repo to the .vimrc file, and `:PluginInstall` downloads the repo to the local machine.
However, `:OmniSharpInstall` gives me the error message: `E492: Not an editor command: OmniSharpInstall`

If I try manually installing the server and then open a .cs file, I get:
`Could not find soluti

[2019-11-26 21:34] nickspoons commented on #536
`:OmniSharpInstall`, like all other OmniSharp-vim commands, only works from a .cs buffer. It is also unnecessary - if you open a .cs file, OmniSharp-vim should download the OmniSharp-roslyn server itself. Did that not happen?

What is your project structure like? That error message is pretty clear ... no .sln has been found for your .cs file. If you want to start a server without a .sln, you can t

[2019-11-27 10:03] Rayal commented on #536
Aah!
The "Start without solution" fixed my specific problem.

Not sure it's fixed my general problem, however. The thing is that I'm trying to write some scripts for use in a Unity project. So I don't necessarily have a solution, as far as I know.

Thanks for the help, though! I was able to move on to my next unexpected roadblock (also known as progress). :)

[2019-11-27 20:18] #536 closed

[2019-11-29 02:54] forkmantis commented on #506
I ran into the same issue.  I have the same output as @gabrieljoelc for `file /bin/sh` and `bash --version`

The output of the command after modifying OmniSharp.vim the way you described above is:

[code]

[2019-11-29 03:52] forkmantis commented on #506
It looks like when curling for the latest version, the output it's getting from `https://api.github.com/repos/OmniSharp/omnisharp-roslyn/releases/latest` is coming in as a single line of output rather than multiple lines, so grep and sed are not able to pull out the latest version.

If I manually run `omnisharp-manager.sh` and provide a specific version, that script succeeds. and I can see `omnish

[2019-11-29 20:51] axvr commented on #506
@forkmantis, thank you for giving more information. I think I've now managed to work out what the problem is.

I believe there is a `~/.curlrc` file on your machine which is setting the user-agent to Internet Explorer (making GitHub send the JSON back as a single line).

[code]

I have no idea why it is there, but it seems [you wouldn't be the only one](https://stackoverflow.com/q/54683160). (I su

[2019-12-01 15:13] forkmantis commented on #506
@axvr I checked, and when I add the `--user-agent 'curl'` option, it works like a champ.

You are correct about the user-agent setting in my `.curlrc`.  I forked someone elses dotfiles repo a while back, and in cleaning it up, I guess I overlooked or didn't understand that setting.  I'll take it out now.  Thanks for that.

[2019-12-02 06:45] aleksfadini commented on #536
I have the same problem, trying to use vim with unity and I get the error
`
 CS0246: The type or namespace name `UnityEngine' could not be found. Are you missing an assembly reference?`

On the other hand
`:OmniSharpInstall` gives me the error message: `E492: Not an editor command: OmniSharpInstall`

Could you help on this one? @Rayal how did you solve this?
Maybe something could be added to the d

[2019-12-02 07:19] nickspoons commented on #536
Nebulous?

Neither of you has said what happens when you open a .cs file - does OmniSharp-vim not offer to install the server?

@aleksfadini as I said in my first response, `:OmniSharpInstall` and all other OmniSharp-vim commands only work from .cs files. If that command is not available from a .cs file, then the plugin is not installed correctly.

The [README](https://github.com/OmniSharp/omnisha

[2019-12-02 07:21] nickspoons commented on #536
@aleksfadini where are you getting the error you mention: `CS0246: The type or namespace nameUnityEngine' could not be found. Are you missing an assembly reference?`? In Vim? Presumably the OmniSharp-vim and OmniSharp-roslyn are installed and working if you are getting code errors?

[2019-12-02 14:49] wizardlink opened #537 "[Windows] - GVIM compiled with python and python 3 yet omnisharp still says it needs to be compiled with python."
![image](https://user-images.githubusercontent.com/26727907/69968584-745ebf00-14f9-11ea-9156-e7e3de1b3762.png)
![image](https://user-images.githubusercontent.com/26727907/69968659-a4a65d80-14f9-11ea-835c-ae61bf384c57.png)

I am not sure if I can be more descriptive than this already, my apologies if the issues was *poorly* written.

[2019-12-02 21:34] nickspoons commented on #537
The error message may be slightly misleading. gVim for Windows usually does have python support _compiled_ in - but that doesn't mean necessarily that python is installed in Windows, or that Vim can find it in your path.

In my gVim or terminal Vim I can run the following: `:python print("Hello from python")` and `:python3 print("Hello from python3")`. Do either of those work for you?

If not, you

[2019-12-02 21:40] nickspoons commented on #506
Brilliant, thanks @axvr!

@gabrieljoelc could you check whether you also have this .curlrc setting?

[2019-12-03 23:08] wizardlink commented on #537
Sorry for the late reply. I will test this tomorrow at work (where I have more environments to test) and follow up with the result, thank you for the support!

[2019-12-04 14:24] DasOhmoff commented on #336
Did you find a solution?

[2019-12-04 14:38] DasOhmoff opened #538 "Stop OmniSharp from autocompleting parameters."
Hello is there a way to stop OmniSharp from completing parameters?
For example when I type string.Format and select any suggestion I get this:
![image](https://user-images.githubusercontent.com/16063186/70151329-bcbdde80-16ab-11ea-92f8-7f2895961810.png)

I would like to change this behavior, so that only "string.Format" is autocompleted (without any brackets):
![image](https://user-images.githubus

[2019-12-04 19:47] nickspoons commented on #538
That happens when you have `let g:OmniSharp_want_snippet = 1` in your .vimrc - it is used together with UltiSnips for snippet completion. If you are not using snippets, then turn it off.

[2019-12-04 19:47] #538 closed

[2019-12-04 23:54] gabrieljoelc commented on #506
No i have no `.curlrc` file anywhere on my system as far as I can tell.

My agent is showing as `curl/7.64.1`:
[code]

[2019-12-05 00:46] nickspoons commented on #506
@gabrieljoelc could you try modifying `~/.vim/bundle/omnisharp-vim/autoload/OmniSharp.vim` as described by @axvr in his [first reply](https://github.com/OmniSharp/omnisharp-vim/issues/506#issuecomment-525893744)? That was we will hopefully see what the actual error message is - it does look like it's different to @forkmantis' issue.

[2019-12-05 00:49] nickspoons commented on #506
@gabrieljoelc what is the output of `/bin/sh --version` ?

[2019-12-05 00:53] gabrieljoelc commented on #506
Sorry about the delay. Here's the output when in vim:
[code]

[2019-12-05 00:55] nickspoons commented on #506
It looks like it's having trouble with line endings?

[2019-12-05 00:59] nickspoons commented on #506
@gabrieljoelc if you open the `installer/omnisharp-manager.sh` file in Vim, what do `:set fileformat?` and `:set fileencoding?` output?

[2019-12-05 00:59] gabrieljoelc commented on #506
Yes, I mentioned this in the issue description:

I'll try that right now.

[2019-12-05 01:01] gabrieljoelc commented on #506
[code]

[2019-12-05 01:02] nickspoons commented on #506
I wonder why you have dos format? That's not what it is on my system. Peculiar.

[2019-12-05 01:04] nickspoons commented on #506
Could you perhaps try running this in that file:

[code]

Then see if you can install after that?

[2019-12-05 01:04] gabrieljoelc commented on #506
I wonder if I have some weird issue git config that messed up all the files when I did `git clone` on this repo.

I have had issues since I try to develop .NET Core mostly on my mac but need to sometimes open in VS on my PC (for example, when I need to smoke test a non-docker Azure service like Event Hub).

I'll take a look at my git config.

[2019-12-05 01:08] nickspoons commented on #506
Ah excellent, always nice to get a resolution!

[2019-12-05 01:08] #506 closed

[2019-12-05 09:09] DasOhmoff commented on #538
Thank you!

[2019-12-05 09:10] DasOhmoff commented on #336
Did you try to select a suggestion and pressing escape instead of pressing tab or enter or any other key?

[2019-12-05 15:13] mckinnsb commented on #336
I'm impressed someone followed up -This was a long time ago - but no, I
didn't find a solution, I ended up giving up on that feature.

I actually moved to VSCode because using C# with Vim was hard to get to
work right. I'd love to be able to go back, the VSCode vim bindings aren't
that great.

On Thu, Dec 5, 2019 at 4:10 AM DasOhmoff <notifications@github.com> wrote:

[2019-12-05 18:33] DasOhmoff commented on #336
Ah, I see.

[2019-12-05 19:51] nickspoons commented on #336
Hey guys, I did manage to recreate this once, but never found the error (I don't usually use snippets myself). I can try to give it another look - I've always meant to dig into it but never found the time, sorry.

[2019-12-06 01:13] nickspoons commented on #336
Well, I'm really stuck on this. I'm inclined to think it might be a bug in the Vim python package? For some reason that I just can't work out, it is [UltiSnips/vim_helper.py#L184](https://github.com/SirVer/ultisnips/blob/master/pythonx/UltiSnips/vim_helper.py#L184) that causes an extra space (or spaces) to be inserted at the start of the argument list:

[code]

That `cursor` setter contains the [r

[2019-12-06 15:34] nosami commented on #336
Pretty sure this feature only worked for a small amount of time and was hardly tested.

I somehow managed to talk @markwoodhall into implementing it after I'd already defected to Emacs. He shortly defected to Clojure I believe, leaving nobody actually using this feature :)

[2019-12-06 20:29] nickspoons commented on #336
@nosami it's actually a great feature and for the most part works really well (except for this annoying issue). I did use it for a while.

The reason I stopped using it was the same reason I always stop using things like autopairs or delimitmate - I find automatically inserted code gets in my way more than it helps. But that's a personal style preference and not a reflection on the feature.

[2019-12-12 23:38] shogerr opened #539 "Installation failed inside PowerShell"
While attempting to install OmniSharp in vim, having setup the plugin with Plugged, the output is:

[code]
No other information was logged on screen.

**Environment**
Windows 10
Vim 8.1.2237

[2019-12-13 00:35] nickspoons commented on #539
@shogerr did this just happen once, or have you tried multiple times? Sometimes the github request fails (which causes travis builds to fail annoyingly often).

[2019-12-13 20:07] shogerr commented on #539
@nickspoons, I tried it a couple of times. It definitely pulls the files and runs through something, I thought I remembered seeing a progress update on the screen a few times.

So you sit there for a bit, it downloads and installs (probably), and fails. I just tried it again with the same results, but no status popup during the download this time.

[2019-12-13 21:57] axvr commented on #539
@shogerr @nickspoons, I think I've found source of the problem and I'll submit a patch shortly.

[2019-12-14 00:17] axvr commented on #539
OK, so I believe that the problem was being caused by the install path was not being properly escaped. This meant that PowerShell (and Unix shells) would split the path on whitespace (and other special characters) causing the script to fail. This is what happened to me when I fired up my Windows VM and ran `:OmniSharpInstall`.

I've created a pull request which shold fix the problem. If it doesn't

[2019-12-14 21:08] nickspoons commented on #539
@shogerr I've merged @axvr's PRs, would you please confirm that this fix works for you, and if not, post the log?

[2019-12-16 20:07] #537 closed

[2019-12-16 22:39] 00sapo commented on #430
The following minimal configuration works for me, but I suggest to add this feature out of the box by simply selecting `pyls` as python linter.

[code]

[2019-12-16 22:44] nickspoons commented on #430
@00sapo are you sure you're commenting on the right repo? Why would we be configuring python linters here?

[2019-12-16 22:45] 00sapo commented on #430
Sorry, I wanted to comment on ALE repo

[2019-12-17 13:37] CaerphillyMediaLtd opened #542 "Delete"
Nevermind, working.

[2019-12-17 15:40] FelschR opened #543 "does not support csproj without sln"
Apparently, omnisharp-vim only looks for a *.sln file and thus projects which only use a *.csproj aren't supported.

[2019-12-17 19:27] #542 closed

[2019-12-17 19:30] nickspoons commented on #543
Try adding `let g:OmniSharp_start_without_solution = 1` to your .vimrc

[2019-12-18 12:08] artkpv commented on #524
@antoinemadec Hi, thanks for researching this. I'm trying to configure deoplete + OmniSharpVim on my system and so far I have this issue. Could you share your configuration?

[2019-12-18 18:01] antoinemadec commented on #524
@artkpv I think I was using the default 'omni_patterns' and did not modify it.
Here is my .vimrc at the time I was using deoplete:
https://github.com/antoinemadec/dotfiles/blob/28779c0715816e6e5929434ff3ef62202a380afa/.vimrc

I am now using **coc.nvim** (works on neovim and vim8) and **coc-omnisharp**:
https://github.com/antoinemadec/dotfiles/blob/master/.vimrc
https://github.com/antoinemadec/dotf

[2019-12-19 11:39] Adam-Tg opened #544 "Highlight c# regions"
is there a way to highlight c# regions in vim.

Similar to this:
![image](https://user-images.githubusercontent.com/58780489/71170737-464cdf00-225c-11ea-9048-f2a814da6ebd.png)

Just some way to make it easier to spot regions in files.

I was trying to make something like this work with omnisharp, but I cannot figure it out.
Is there a way to do this?

[2019-12-19 20:07] nickspoons commented on #544
There's not really any way to do this in Vim - you can't draw lines in Vim. You could highlight the `#region` lines differently with e.g. a different background colour, but it would be tricky to make it look nice because you can't highlight past the text.

In any case it's not something for OmniSharp to handle.

[2019-12-19 20:07] #544 closed

[2019-12-19 20:23] #543 closed

[2019-12-21 21:05] DasOhmoff commented on #544
Thanks anyway :)

[2019-12-23 19:28] shogerr commented on #539
@nickspoons, sure, I can test this. Unfortunately the machine the problem was occurring on, I won't be back on until the end of week. I will see if I can get the same problem to occur on another machine in the mean time.

[2019-12-23 19:32] shogerr commented on #539
Because it's an escaping issue, and I'm usually using Windows with Powershell, this issue reminded me of an issue I opened with the Vim project itself, https://github.com/vim/vim/issues/5136. It seems there's a lot of surface to hit when it comes to escaping and the terminal used, and potentially there is something in that issue's discussion that might inform what is going on with Windows and esca

[2019-12-28 18:25] SemtexError opened #545 "Multiple SLN within a project"
I've a project with multiple SLN's.

These are:
- Website
- Database
- Etc.

Every time I open a new CS file it will ask again what solution file I would like to use.
Is there any way to remember this open?

[2019-12-28 20:23] nickspoons commented on #545
Try adding this to your .vimrc:

[code]

[2019-12-29 15:30] SemtexError commented on #545
Thank you for your response, after setting the variable you mentioned it is still asking to select the SLN every time I change to a new CS file.

[2019-12-29 19:52] nickspoons commented on #545
I haven't tested as I'm currently on holiday, but it looks as if that would work - I haven't ever actually used that setting before.

What are you expecting? What happens in other editors like Visual Studio and VSCode when you have 2 solutions in the same space? I can't think of any possible reason to do that?

[2019-12-30 22:07] Craige opened #546 "Linter for cshtml (Razor) files"
`.cs` files are setup with an Ale linter that works great, but `.cshtml` files are not. The Omnisharp linter should work just fine if configured for `.cshtml` files as well.

[2020-01-05 21:52] shogerr commented on #539
Plugged no longer installs this plugin correctly on my system. It may be related to: https://github.com/junegunn/vim-plug/issues/852.

After running through Plug (which does error), the OmniSharp commands are not available in Vim. I haven't had a chance to try Vundle, or a manual install to see if this issue has been cleared. As of now, there is no way for me to test this fix until Plug is fixed,

[2020-01-06 06:56] nickspoons commented on #539
Why not just ignore Plug, and clone this repo to `~/.vim/pack/myplugins/start/OmniSharp-vim`, I think that ought to do it.

[2020-01-06 22:29] shogerr commented on #539
Alright, I've clone the plugin into the pack dir, and it shows up in my runtimepath:
[code]
However, the OmniSharp commands are still not available to Vim.

In my vimrc, I have placed the lines:
[code]

[2020-01-07 04:18] nickspoons commented on #539
From a .cs buffer? Please open a .cs file, then post the output of `:scriptnames`

[2020-01-07 15:36] levihb commented on #468
I'm not getting any completion using the stdio version. I've tried it with deoplete and without, all I get are the normal words buffers as suggestions.

[2020-01-07 20:09] nickspoons commented on #468
@levihb as stated in the previous comment, there is no deoplete support (still!). To get completions _without_ deoplete, use `<C-x><C-o>` - this will never return anything but actual semantic completions. Or use  a different autocompletion plugin, such as asyncomplete.

If you still aren't getting completions, there is something wrong with your setup - please open an issue and I'll help you get it

[2020-01-07 23:05] JorgeDLG commented on #533
I have the same error with vscode-bin on archlinux. Maybe some missing package or configuration statement?

[2020-01-08 02:16] shogerr commented on #539
Hey, great success. OmniInstall worked, and it looks like we are up and running.

I must have gleaned right over the docs talking about the need to have a .cs buffer open to have commands available. Awesome, thanks for tackling this issue.

[code]

[2020-01-08 02:16] #539 closed

[2020-01-08 04:27] nickspoons commented on #539
Great stuff, thanks again @axvr

[2020-01-08 16:01] SemtexError commented on #545
I hope you have/had a good holiday!

In Visual Studio you can have multiple solutions for including projects or not.
As an example, one solution for the database and an web API and another with only the web API.

I would expect when you enter a CS file for the first time you select the SLN you would like to use.
After that that SLN will be remembered when you change to another (new) CS buffer.

No

[2020-01-09 11:05] levihb opened #547 "Overriding diagnostics does not work with the variable, or with a rule set"
I'm using neovim with ALE, and have it setup to use the stdio version of OmniSharp. Here is my configuration:

[code]

But no matter what I put in there, and what type (e.g. move them to E instead), they still get reported with the linter, and with :OmniSharpGlobalCodeCheck.

I've also tried creating the following rule set xml file and adding it to the project file:

[code]

But again omnisharp-vi

[2020-01-14 21:57] nickspoons commented on #547
Hi @levihb,

Would you be able to provide some logs so we can see what OmniSharp-roslyn is returning here? Add the following to your .vimrc:

[code]

Then restart Vim in your project, and once the error has been displayed by ALE, run `:OmniSharpOpenLog`. The log can get very big - it logs the raw JSON requests to and responses from OmniSharp-roslyn. The only thing I'm interested in is the response

[2020-01-14 23:22] nickspoons commented on #546
Unfortunately, OmniSharp doesn't support razor files by itself. VSCode has support using an extra plugin, but it is not simple getting them to work together - if you try in VSCode and check the OmniSharp logs, you can see that there are temp files being generated and sent to OmniSharp-roslyn. For example, an `Index.cshtml` file has an associated `Index.cshtml__virtual.cs`. This is _not_ being gene

[2020-01-14 23:22] #546 closed

[2020-01-15 02:52] nickspoons commented on #547
@levihb I have just pushed an update which makes it easier to see what diagnostic ID is being returned from the server. If you get the latest version of the plugin, run `let g:OmniSharp_diagnostic_showid = 1` and the ID will be included in the issue description. You can either add this line to your .vimrc, or just run it from the Vim command line.

[2020-01-15 18:50] shogerr opened #549 "Powershell Install Failed"
If OmniSharpInstall is invoked from a machine where the 'powershell' alias points to an older 5.1 Desktop Powershell, the installation will fail.

The installation fails because the old cmdlet for `Expand-Archive` used `-OutputPath` and not `-DirectoryPath` as a parameter to define the destination for an expanded archive.

[code]

**Solution**
A possible solution is to use the positional arguments

[2020-01-16 07:14] nickspoons commented on #549
Can I leave this one to you, @axvr?

[2020-01-16 07:48] #545 closed

[2020-01-16 07:54] nickspoons commented on #545
Thanks for the report, @SemtexError.

The `g:OmniSharp_autoselect_existing_sln` now works as you expect: you'll be prompted to select a solution after opening the first .cs file, and subsequent .cs files will open under the same solution.

I was definitely in holiday mode when I commented earlier, and had completely forgotten the Visual Studio workflow, where you open a solution first and the file

[2020-01-16 14:54] SemtexError commented on #545
I just updated the plugin and it's working as expect!

Thank you, this will make things a lot nicer. Everybody else at the company is working with Visual Studio so I can't make any changes to the project structure.

[2020-01-16 22:04] axvr commented on #549
@shogerr, thanks for taking the time to find a solution to this. After checking the [Microsoft PowerShell docs on `Expand-Archive`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.archive/expand-archive?view=powershell-7#parameters), it looks like the fix to remove the `-DestinationPath` will also work on all later PowerShell versions as the positional parameters haven't ch

[2020-01-17 03:05] #549 closed

[2020-01-20 00:01] Melandel opened #551 "Code Actions Available flag messes with ALE"
Hi,

I'm using [this vim script](https://github.com/OmniSharp/omnisharp-vim/wiki/Code-Actions-Available-flag) for having the Code Actions Available flag and I noticed that by setting `updatetime` to 500, ALE's lint message disappears after 500.

Is there a way to leave ALE's message in peace while having the Code Actions Available flag ?

My vimscript knowledge is unfortunately too poor to answer

[2020-01-20 00:31] nickspoons commented on #551
Hi @Melandel,

That doesn't happen for me, the ALE lint message remains after the code action flag is displayed. I've tried in vim 8.2 (arch linux), gvim 8.2 (Windows) and neovim 0.5.0-309 (arch linux).

Can you describe your environment?

Also, I'm not actually using that script, but [vim-sharpenup](https://github.com/nickspoons/vim-sharpenup) which implements it in a slightly smarter way. I don'

[2020-01-20 18:21] madkous commented on #551
I'm having a similar issue: putting the following line (from the README) in my vimrc causes ALE's messages to be overwritten at whatever rate `updatetime` is set to.

I'm using neovim 0.3.7 on WSL.

[2020-01-20 18:27] Melandel commented on #551
I do have that line in my vimrc as well!

I'm using gvim 8.2 on Windows 10

[2020-01-20 20:48] nickspoons commented on #551
Thanks for pointing that out @madkous.

OK if you are using that line then yes - ALE lint messages will be cleared. The type lookup function `:echo`s its result, so will overwrite whatever has previously been `:echo`ed (by ALE or anything else) - even if there is no result to display. This can't really be worked around - if the previous request had a result and the next one _doesn't_, the previous

[2020-01-20 20:54] #551 closed

[2020-01-23 03:56] psuong commented on #468
Hmm I'd love to try and figure out how to write the python source for deoplete - this might not be the right thread for this - but know of resources on how to get started to writing a completion source? I can kind of get the structure from the current implementation for the http server.

[2020-01-23 19:26] nickspoons commented on #468
@psuong I'm really not sure how to go about it, as a non-deoplete user. The existing deoplete source may not be the best place to look - the OmniSharp-vim python implementation is very well structured and the deoplete source integrates with that perfectly, but we don't have any similar python integration with the stdio stuff.

I wonder if a better place to look would be other plugins which use asy

[2020-01-24 06:14] rosebeats opened #552 "server not loading Unity sln file"
I'm running Unity on Linux.  I got it to generate the .cproj and .sln files.  I installed omnisharp-vim with Plugged for neovim.  If I try to edit a Unity script file, however, autocomplete does not work properly for the first 30 seconds, then I get a message:
`Server load notification for [path]/New Unity Project/New Unity Project.sln not received after 30 seconds - continuing.`
after that point,

[2020-01-24 13:46] psuong commented on #468
Alright - thanks @nickspoons. I'll start poking around this upcoming weekend.

[2020-01-25 09:47] artkpv commented on #533
@JorgeDLG See https://github.com/OmniSharp/omnisharp-roslyn/issues/1667#issuecomment-578392245

[2020-01-25 23:34] nickspoons commented on #552
According to others who use Unity, you should be able to get it working properly - what you're describing is not a correctly loaded server.

Please describe your environment. To see the server log, run `:OmniSharpOpenLog`. Clear it and then restart the server, then post the log here.

[2020-01-26 00:29] chinwobble opened #553 "having trouble running on mac"
I'm running mac with vim 8.0.
I install omnisharp into my vim plugin folder

[code]

When I start vim I get this error
[code]

I use the same vimrc in the readme.

[2020-01-26 00:37] nickspoons commented on #553
As the error message says, your version o of Vim does not have the `TextChangedP` autocmd. Try changing `g:OmniSharp_highlight_types` to `2` instead of `3`, or get a newer Vim.

[2020-01-26 21:30] nickspoons commented on #553
@chinwobble sorry that was a bit terse, I was on mobile. I think we can do better here - I'll add a check for the availability of the `TextChangedP` autocmd.

[2020-01-26 21:43] #553 closed

[2020-01-27 11:18] chinwobble commented on #553
@nickspoons thanks for quick reply and fix!

[2020-01-27 11:39] chinwobble opened #554 "windows OmniSharpGlobalCodeCheck has incorrect filepaths"
![image](https://user-images.githubusercontent.com/18226001/73171790-ad13c100-4155-11ea-8809-24f4a0908e1c.png)

I introduced an error in the code and checked `:OmniSharpGlobalCodeCheck` but the file path are incorrect on windows and I can't navigate to them with the enter key.

[2020-01-27 18:58] nickspoons commented on #554
Could you please describe your environment? This appears to be a terminal of some kind but I don't know what shell you're running in. Version of Windows? It's not msys or something is it? Have you tried gvim to see if it works differently there?

[2020-01-28 04:20] chinwobble commented on #554
I was using vim inside Windows 10's new Microsoft Terminal with cmd.exe
I was having the same issue with gvim.

I was able to resolve this issue updating to the latest version of omnisharp-roslyn.

Do you have a suggested setup on windows for least issue? I tried using the cmd prompt to run vim but there were many display issues. When I jump around not all parts of the screen seem to redraw correc

[2020-01-28 17:51] aks2161989 opened #555 "Is it possible to use omnisharp-vim for single .cs files (No project\solution) ?"
I am learning C# so I need to work with single .cs files. Can I get autocomplete to work for single C# files (without a project/solution) ? When I open a .cs file in Vim, I get an error message:

`Could not find solution file or directory to start server`

Earlier I used Emacs with omnisharp, where I could use single .cs files without any problem. I really like Vim and hope to get it working.

Am

[2020-01-28 20:00] nickspoons commented on #554
In Windows, I just use gvim - I haven't tried the new Windows Terminal yet. But I do the vast majority of my work in WSL, using `let g:OmniSharp_translate_cygwin_wsl = 1` and `let g:OmniSharp_server_path = `/mnt/c/path/to/omnisharp-roslyn/OmniSharp.exe'`.

neovim cannot work directly with OmniSharp-roslyn in Windows, there is an incompatibility and neovim's jobs API cannot talk to .NET Framework p

[2020-01-28 20:00] #554 closed

[2020-01-28 20:08] nickspoons commented on #555
Try adding `let g:OmniSharp_start_without_solution = 1` to your .vimrc

[2020-01-28 20:35] nickspoons commented on #555
You may also want to reduce the server load timeout considerably: `let g:OmniSharp_server_loading_timeout = 5` (this may be too low and result in errors, try it and see). When working without a solution/project, OmniSharp-vim falls back to this setting to decide when the server has finished loading.

[2020-01-28 20:42] #555 closed

[2020-01-28 20:43] nickspoons commented on #555
@aks2161989 I have made `g:OmniSharp_start_without_solution = 1` the default.

[2020-01-28 20:43] nickspoons commented on #543
Note that this is now the default

[2020-01-28 20:47] nickspoons commented on #505
`g:OmniSharp_start_without_solution = 1` is now the default

[2020-01-28 20:48] nickspoons commented on #536
`g:OmniSharp_start_without_solution = 1` is now the default

[2020-01-28 20:50] nickspoons commented on #66
`g:OmniSharp_start_without_solution = 1` is now the default.

I suspect you'll still need to get Unity to generate the .csproj though.

[2020-01-29 17:13] aks2161989 commented on #555
@nickspoons  Thank you for the quick response!
I updated omnisharp-vim and unfortunately I am getting a new error

`Pattern not found`

Here's a screenshot:
![Screenshot (30)](https://user-images.githubusercontent.com/20129646/73379623-99e52a80-42e8-11ea-836b-354bfac235c2.png)

I am using Vim 8.0 on Git on Windows 10.

[2020-01-29 20:19] nickspoons commented on #555
First, that's not an OmniSharp-vim error, it's a standard Vim output when trying to use any completion method, when no results are found. See [:help 'shortmess'](http://vimhelp.appspot.com/options.txt.html#%27shortmess%27). You can prevent this by adding the following to your .vimrc:

[code]

So your server has possibly not finished loading (a message will be echoed when it finishes, this will hap

[2020-01-30 03:37] benknoble opened #556 "Omnisharp's mono tries to use system mono lib instead of bundled mono"
I get this output when OmniSharp tries to start up in vim:

[code]

I can confirm that running the `run` script and the `bin/mono` fail, so this may be more for OmniSharp/omnisharp-roslyn.

I have an (old?) mono install floating around:

[code]

Regardless, I'm not sure why this mono is searching `/Library/Frameworks` if it was supposed to be fully bundled?

After installing an up-to-date mono wit

[2020-01-30 03:52] benknoble commented on #556
With `:let g:OmniSharp_server_use_mono = 1` in my config, I get a prompt to install the server, even though I already have it?

[2020-01-30 10:38] nickspoons commented on #556
Yeah this kind of issue is best dealt with in the omnisharp-roslyn repo.

I don't know why you're getting prompted to install the server, but if everything is working, might as well close the issue? Feel free to open a new issue if you continue getting prompted.

[2020-01-30 10:38] #556 closed

[2020-01-30 13:52] benknoble commented on #556
@nickspoons do you know who could migrate this issue to them? It seems odd that omnisharp wasn't using the bundled mono, and I'd bet they'd want to know about it

[2020-01-30 19:09] nickspoons commented on #556
@benknoble can you just recreate the issue at [OmniSharp-roslyn](https://github.com/OmniSharp/omnisharp-roslyn/issues)? I don't have any special permissions there.

I imagine they'll be interested in your OS details, and the full output of starting the server manually from the command line (the Vim integration parts are not relevant there).

[2020-02-01 18:12] Laptop765 commented on #499
Just curious, has anyone opened this issue in the Neovim repository in case it's a bug on their end?

[2020-02-01 18:28] jpfeiffer16 commented on #499
I did at one point debug the neovim codebase trying to find the issue. I localized it to the way libuv interacts with the stdout stream of .net process. However I don't have the c skills to figure anything out beyond that and so am not sure if it's .net side or neovim/libuv side. I never opened an issue because I found a workaround by proxying stdio between the two processes and it only happens on

[2020-02-01 18:57] aks2161989 commented on #555
Thank you @nickspoons I was able to easily solve this issue following your instructions. The best thing is omnisharp-vim works perfectly in native vim,exe in the Windows console!

[2020-02-01 19:58] Laptop765 commented on #499
Is it worth running by either or both of them to take a look so it can be fixed?

[2020-02-01 21:14] nickspoons commented on #555
Great to hear!

[2020-02-01 21:33] nickspoons commented on #499
Yeah I always meant to open a neovim issue but it's really hard to create something reproducible enough to be a valid issue. The repro project I described above is probably as good as we can get though, so yes it would be a good idea. It's even quite possible that there are just some different flags we should be sending to neovim?

I'll try to get around to it, very time-poor at the moment unfortu

[2020-02-03 11:02] nickspoons commented on #499
I have opened [neovim issue #11809](https://github.com/neovim/neovim/issues/11809) - let's hope someone on that side can shed some light on the issue.

@jpfeiffer16 if you have anything to add there after your debugging attempts, that would be very helpful.

[2020-02-03 14:53] jpfeiffer16 commented on #499
Thanks @nickspoons ! I put a comment on that issue.

[2020-02-04 02:33] rosebeats commented on #552
I'm on Arch Linux.  I installed unityhub and downloaded editor version 2019.3.0f6.  I use nvim as my editor and have OmniSharp installed as a plugin for it.  This is the output of `:OmniSharpOpenLog` (I've replace my home folder with `[Home folder]` and the Unity project folder with `[Project folder]`).

[code]

It seems to be suggesting an issue with the .NETFramework, but I couldn't figure out a

[2020-02-04 02:52] nickspoons commented on #552
This looks to me like a dotnet configuration issue, or _possibly_ an OmniSharp-roslyn issue. Not an OmniSharp-vim issue either way.

In any case, to get `dotnet` working well in archlinux, I have installed `dotnet-host-bin`, `dotnet-runtime-bin` and `dotnet-sdk-bin` from the AUR. I also have `msbuild-16-bin` from the AUR. Give these a go and see if you have better luck.

If not ... I don't know an

[2020-02-04 03:15] rosebeats commented on #552
Unity is weird and only generates the .sln and .csproj files if it thinks you're using VSCode.  I have a symlink named code linked to my shell to get it to open nvim and still generate the correct files.  It wasn't adding .csproj files correctly, but I seem to have fixed that.  That seemed to get rid of the warnings, but the errors are still there.  I also tried installing all of those packages, b

[2020-02-04 03:24] nickspoons commented on #552
If you run `dotnet --list-sdks` or `dotnet --list-runtimes`, do you get multiple results? I wonder if your system is trying to use the wrong sdk? I think I had to jump through some hoops to get old ones removed fully from my system, before I could have _only_ the lastest installed.

I noticed your quick project name redaction too, sounds interesting :D

[2020-02-04 03:29] nickspoons commented on #552
Here's someone apparantly having the same issue: [OmniSharp/omnisharp-roslyn#1962](https://github.com/OmniSharp/omnisharp-roslyn/issues/1692). A commenter has suggested the opposite of what I did - removing `dotnet` entirely and only having `mono` installed. Worth a try?

[2020-02-05 13:21] dirkesquire commented on #556
Can you please provide a link where we can follow the new issue?
I'm getting this also and I have no idea where to start. The only thing I did was to install dotnet core 3 for VS Code. Previously with dotnet core 2 everything was working okay.

[2020-02-12 20:56] DasOhmoff opened #557 "OmniSharp does not highlight or show errors when using neovim."
Hello, I recently switched from vim to neovim but I am somehow not able to make OmniSharp work with neovim. Here is my entire init.vim:

[code]

I called `OmniSharpInstall` multiple times already.
When I open a C# file, OmniSharp echos that the server was loaded.
If I use something like "Conquer of Completion" the autocompletion also works.
I even tested this configuration on two different compute

[2020-02-12 21:12] nickspoons commented on #557
Do other OmniSharp-vim commands work, like `:OmniSharpGotoDefinition` and `:OmniSharpFindUsages`?

Can you highlight with the command: `:OmniSharpHighlightTypes`?

Do you get completion using the init.vim you've shown here (no COC), with `<C-x><C-o>`?

[2020-02-12 21:18] nickspoons commented on #557
Please open the server log (`:OmniSharpOpenLog`) and share it here. Note that it might be quite large - it is not cleared between sessions - so it could be a good idea to clear it first, and restart vim.

[2020-02-13 04:46] DasOhmoff commented on #557
Thanks for your answer.

`:OmniSharpGotoDefinition` does not work, the cursor stays where it is.
`:OmniSharpFindUsage` does not work, no quickfix window appears.
`:OmniSharpHighlightTypes` does not work, the highlighting just stays as it is.

"Do you get completion using the init.vim you've shown here (no COC), with `<C-x><C-o>`?". No, the autocompletion of omnisharp does not work, it says that th

[2020-02-13 07:23] nickspoons commented on #557
Oh you're using Windows. The stdio server currently does not work in neovim on Windows, due to a neovim bug (currently being worked on), see #499

[2020-02-13 07:24] #557 closed

[2020-02-13 07:59] DasOhmoff commented on #557
Oh, thank you!

[2020-02-16 20:48] #552 closed

[2020-02-16 20:54] nickspoons commented on #405
As far as I can tell, this issue is actually about adding new file reference to .NET Framework .csproj files. This is not something that OmniSharp-rolsyn does and is therefore not going to be done be OmniSharp-vim.

However, there is a [wiki article](https://github.com/OmniSharp/omnisharp-vim/wiki/Working-with-older-.csproj-Projects) showing how to do this using OmniSharp-vim functions, and I have

[2020-02-16 20:54] #405 closed

[2020-02-19 01:52] Craige opened #558 "Omnisharp takes excessive time and memory usage when fired from Omnisharp-vim"
On the same project/solution, Omnisharp takes several minutes longer starting up when used under Omnisharp.vim as opposed to the same project opened in VSCode. Memory usage is also ~double the memory usage of the OmniSharp server under VSCode, and CPU usage spikes for a lengthy amount of time as well.

I'm not sure what the differences are between how VSCode uses the OmniSharp server and how OmniS

[2020-02-19 01:56] nickspoons commented on #558
Please share your .vimrc  and give some description of your environment

[2020-02-19 02:07] Craige commented on #558
-  MacOS 10.14.6.
- OmniSharp server has Roslynator analyzers enabled via `~/.omnisharp/omnisharp.json` (Haven't really tested without)
- Was opening [OrchardCore.ContentFields](https://github.com/OrchardCMS/OrchardCore/tree/75500b53c5a3c76cd2aaca5b55a0765e25f53872/src/OrchardCore.Modules/OrchardCore.ContentFields) project. VSCode instance settled to around 600-700MB. OrhardCore.vim instance settl

[2020-02-19 02:17] Craige commented on #558
I this problem appears to be exacerbated by quickload. Disabling quickload dropped my memory usage to 800-900MB and CPU usage isn't quite as high either.

Both are still higher than VS Code even with quickload disabled.

[2020-02-19 03:06] nickspoons commented on #558
Are you comparing memory of the actual OmniSharp.exe process? In my experience the process started by Vim generally idles at a significantly lower memory usage than once started by VScode.

You're using pathogen so I can't easily tell - do you have many other plugins? You're not using YouCompleteMe or coc.nvim by any chance?

[2020-02-19 03:33] Craige commented on #558
Yes, I'm comparing the usage of the mono process hosting OmniSharp.exe in both cases.

Several other plugins are enabled:

[code]

Not using YouCompleteMe, but I am using Asyncomplete.

[Here's a couple of screenshots](https://imgur.com/a/YJHwmJc)

Since turning off quickload, I think things have _improved_, but they are still not right. The memory usage in those two screen shots actually are clos

[2020-02-19 03:56] nickspoons commented on #558
It actually just sounds like your server isn't starting properly in Vim. There are some issues that I'm trying to get resolved regarding when to consider OmniSharp-roslyn to be "ready", see OmniSharp/omnisharp-roslyn#1521. It definitely sounds like `g:OmniSharp_server_stdio_quickload` is hurting here, and letting Vim send requests to OmniSharp-roslyn too early.

What message is echoed when the ser

[2020-02-19 06:20] Craige commented on #558
That's exactly what I'm seeing when I mentioned the duplicate symbols. So it seems at least that part is related to that ticket.

Whether that is related to the memory usage/startup cpu usage might remain to be seen. I'll try the `loading_timeout` tomorrow and see what happens, and will get some logs for you as well.

[2020-02-19 10:22] nickspoons commented on #558
OK I've done a bit of testing - that OrchardCore solution is _huge_ - 172 projects. At first I thought I was seeing erroneous behaviour too, but actually it just takes a damn long time for OmniSharp-roslyn to load the solution. I ended up setting `g:OmniSharp_server_loading_timeout = 600` (10 minutes). Once it finally loaded, it all worked perfectly.

Running Vim and VSCode side-by-side in Windows

[2020-02-19 10:24] nickspoons commented on #558
Ohhhh. I've just looked more closely at your screenshots and I see what's happening. VSCode is only loading the single project - not the entire solution. Whereas OmniSharp-vim always looks for a .sln first and in this case it finds it ... so it loads _everything_.

[2020-02-19 10:53] nickspoons commented on #558
So there are a couple of ways you can tell OmniSharp-vim to just start OmniSharp-roslyn with just the current project.

1. `let g:OmniSharp_start_server = 0`, then start the server manually with `:OmniSharpStartServer /path/to/project/dir`, or just `:OmniSharpStartServer .` when the Vim cwd is the project dir.
2. Create a temporary .sln for working with this project:
    cd src/OrchardCore.Modules

[2020-02-19 11:02] DasOhmoff commented on #485
"I'm not sure about the inconsistent highlighting, I've seen it before too, it seems to sometimes happen with early highlighting requests. Subsequent requests always seem to be correct".

How can I make subsequent requests? My highlighting is always not 100% corrent, even on subsequent requests (if OmniSharp makes them automatically). How can I fix this?

[2020-02-19 19:14] nickspoons commented on #485
@DasOhmoff you're quoting an old comment. As later comments say, and the O#roslyn issue you've already commented on, the results we get back from O#roslyn are inconsistent, we can't do more about it on this side.

[2020-02-20 08:55] DasOhmoff commented on #485
Ah I see, ok thank you

[2020-02-24 23:15] Craige commented on #558
Will circle back around to this this week. Sorry for the delay.

[2020-02-25 15:37] DasOhmoff opened #560 ""OmniSharp_selector_ui" does not seem to be working."
Hello, how does the "OmniSharp_selector_ui" work exactly?
I tried setting it to `unite.vim` and `ctrlp`. But on both cases it opens the quick fix window when I use the `OmniSharpFindUsages` command.

[2020-02-26 08:28] nickspoons commented on #560
The selector is only used for `:OmniSharpFindSymbol` and `:OmniSharpGetCodeActions`. There's issue #529 to use the selector for `:OmniSharpFindUsages`.

[2020-02-26 14:12] DasOhmoff commented on #560
Ah, I see ok thank you.

[2020-02-26 14:12] #560 closed

[2020-02-27 02:00] Melandel opened #561 "Code action "Rename file as <class_name>" does nothing"
Hello,

I am working on a file `Greater` that contains a class named `Greeter`.

The code actions suggest that I rename the file to `Greeter.cs`.

However, when selecting this code action, a `No action taken` is echoed.

I would have expected my file to be renamed.

Is there a way to have this behaviour?

I'm working on gvim 8.2 on Windows 10 and did an `:OmniSharpInstall` this morning as well as

[2020-02-27 04:00] nickspoons commented on #561
This is a duplicate of #454.

The answer is that renaming a file is outside OmniSharp-roslyn's scope, so we'll need to do a bit more work on the OmniSharp-vim side. I haven't looked into this but I expect the OmniSharp-roslyn response will contain the new filename, and we should use that to perform the rename. We might be able to take some inspiration from [vim-eunuch](https://github.com/tpope/vim

[2020-02-27 04:00] #561 closed

[2020-02-27 04:00] nickspoons commented on #454
The answer is that renaming a file is outside OmniSharp-roslyn's scope, so we'll need to do a bit more work on the OmniSharp-vim side. I haven't looked into this but I expect the OmniSharp-roslyn response will contain the new filename, and we should use that to perform the rename. We might be able to take some inspiration from [vim-eunuch](https://github.com/tpope/vim-eunuch)'s `:Rename` functiona

[2020-02-28 23:06] Bradcomp opened #562 "RunTestsInFile crashes vim"
Forgive me if I am missing something, I am rather new to C# development.

I have been developing C# in vim and I like to run my tests as I am writing. Every few times I run the tests it crashes vim with these details:
[code]

I'm using Vim 8.1.1312, with ALE and SuperTab integrating with OmniSharp.

Any help in troubleshooting would be appreciated. I am a novice at troubleshooting Vim plugins.

[2020-02-29 01:31] idbrii opened #563 "E121: Undefined variable: v:null on old vim"
Omnisharp dies on old (7.4) vim with `E121: Undefined variable: v:null`
Caused by this line:
https://github.com/OmniSharp/omnisharp-vim/blob/42c233ac3fef0ce78078de0f5ec70daa9ba0cd1a/autoload/OmniSharp.vim#L1012
introduced in b68458429424fe8fbdcd5ba08588eb10c56b8e1f

v:null is also used in stdio.vim

Should v:null be replaced with something backwards compatible, or should OmniSharp#util#CheckCapabi

[2020-02-29 01:56] nickspoons commented on #563
Ah, yes that should be `0` instead of `v:null`. It doesn't need to be changed in stdio.vim - stdio mode requires job control so is already unavailable to Vim 7.4 - I'm pretty sure `v:null` is older than the jobs API.

[2020-02-29 01:59] nickspoons commented on #562
That's not good, it certainly isn't something I've run into. Do you have any way of installing a newer Vim? Plugin usage _shouldn't_ be able to crash Vim, so this may be something that has been fixed in more recent versions?

[2020-03-01 12:49] kuator opened #564 "Does not work with unity2d"
The plugin does not complete unity specific classes and functions. Though it completes built-in functions and classes. I noticed that in logs there is an error message related to net framework 4.7.1. I don't have either dotnet core or mono installed on my system.
[code]
:OmniSharpOpenLog output

[code]

[2020-03-01 18:34] nickspoons commented on #564
There's also something funny about these 2 lines:

[code]

Do both of those files exist?

In any case, this is outside the scope of OmniSharp-vim, you'll do better opening an OmniSharp-roslyn issue. OmniSharp-vim can only display completion options which OmniSharp-roslyn provides.

[2020-03-01 18:56] kuator commented on #564
Okay, sorry for the disturbance and thanks for the plugin.

[2020-03-01 18:56] #564 closed

[2020-03-01 20:06] nickspoons commented on #564
Not a problem at all - when you find the solution please let us know here!

[2020-03-02 18:05] Bradcomp commented on #562
Thanks! I was running the standard version for Mac. Just updated so we'll see if the issues go away. 😄

[2020-03-03 16:48] Bradcomp commented on #562
I think upgrading Vim did the trick! Gonna close.

[2020-03-03 16:48] #562 closed

[2020-03-03 20:49] #563 closed

[2020-03-06 00:54] EstefanoPPT opened #567 "Not Working with Unity"
I've got OmniSharp, YouCompleteMe, and Syntastic installed in order to work with Unity game development engine. But there's no completion for Unity's members, only for C#'s primitives and built-ins. Any ideas?

[2020-03-06 01:07] nickspoons commented on #567
Don't use OmniSharp-vim and YCM together - they both run OmniSharp-roslyn and do essentially the same thing.

Please attach your startup log - find it (from a .cs buffer) with `:OmniSharpOpenLog`

[2020-03-10 00:57] nickspoons commented on #547
Closing due to lack of response

[2020-03-10 00:57] #547 closed

[2020-03-10 03:37] nickspoons commented on #485
Thanks for getting the highlighting fixed in OmniSharp-roslyn, @DasOhmoff, much appreciated!

[2020-03-10 08:05] DasOhmoff commented on #485
@nickspoons, I think you mistook me for someone else :D .
I think you were trying to thank "DasCleverle", my name is "DasOhmoff".
Anyway, the real true heroes here are YOU, "DasCleverle", and the other guys that worked for this feature. THANK YOU VERY MUCH <3

[2020-03-10 09:26] nickspoons commented on #485
Ah ha, so I did! I'll go and thank @DasCleverle over in the other repo!

[2020-03-19 18:05] EstefanoPPT commented on #567
I get this:
2020-03-05 19:35:06,464 ERROR Error running python findMembers()
Traceback (most recent call last):
  File "/home/estefano-ppt/.vim/bundle/omnisharp-vim/python/omnisharp/vimcmd.py", line 25, in wrapper
    ret = fxn(*args, **kwargs)
  File "/home/estefano-ppt/.vim/bundle/omnisharp-vim/python/omnisharp/commands.py", line 48, in findMembers
    response = getResponse(ctx, '/currentfileme

[2020-03-19 23:47] EstefanoPPT commented on #567
@nickspoons Any ideas? Still not working.

[2020-03-20 00:20] nickspoons commented on #567
@EstefanoPPT sorry I'm away from the computer for the next couple of days so I can't easily check this.

However I would recommend trying stdio mode instead of HTTP - stdio mode doesn't use python, so at least if it doesn't work it will break somewhere else :smile:. Jokes aside, stdio mode is definitely recommend, it would be the default except for a couple of edge cases, hopefully soon fixed (doe

[2020-03-20 14:45] EstefanoPPT commented on #567
Thank you, I'll try that. How do I change to stdio mode?

[2020-03-20 22:00] EstefanoPPT commented on #567
Okay, I put it in stdio mode, and how I get this on the log:
[code]

[2020-03-21 01:45] nickspoons commented on #567
It looks like you're using stdio mode, but still with the old HTTP server. Open a .cs file in Vim and run `:OmniSharpInstall`

[2020-03-21 14:29] EstefanoPPT commented on #567
I just realized that nothing's getting installed in ~/.omnisharp folder. @nickspoons And running :OmniSharpInstall isn't really installing anything. Sorry to be such a bother, but I would really like to get this working.

[2020-03-21 19:42] nickspoons commented on #567
It should be being installed under `~/.cache/omnisharp-vim`

[2020-03-22 02:03] EstefanoPPT commented on #567
@nickspoons  yes, it's there.

[2020-03-22 03:01] nickspoons commented on #567
Good. So ... is everything working correctly?

[2020-03-23 22:08] nickspoons commented on #558
Are you happy for me to close this issue, @Craige? The workarounds I described should solve the issue?

The alternative I suppose is to add an option for OmniSharp-vim to search for .csproj files instead of / as well as .sln files, and start the server when it hits a .csproj. In this situation that would make O#vim work like VSCode.

[2020-03-25 14:11] artkpv commented on #218
How do we set folding now for C#? I've tried the above config it does not work. Do we have `foldmethod=syntax` ?

[2020-03-25 14:26] artkpv commented on #218
That looks like O# does not have it as it should have `fold` argument for syntax items. See `fold-syntax` in vim doc.

[2020-03-25 22:31] nickspoons commented on #218
@artkpv folding isn't really appropriate in O#, as it doesn't have anything to do with "smart" language server info.

The builtin vim C# syntax script uses `fold` for `#region ... #endregion` and XML comment `/// <summary   ... ///` blocks: see [here](https://github.com/nickspoons/vim-cs/blob/master/syntax/cs.vim#L106-107). If you `set foldmethod=syntax` you can `za` within a `#region` and it will

[2020-03-26 07:33] artkpv commented on #218
@nickspoons, thanks for the answer! I created in "~/.config/nvim/after/syntax/cs.vim":

[code]
In "~/.config/nvim/ftplugin/cs.vim:
[code]

[2020-03-30 06:49] tmakowski commented on #567
I had the same issue but just managed to solve it. The reason why it is not working is this line:

What solved it for me was doing this export before starting Unity appimage (assuming I already had the `mono` installed) as suggested per [this comment](https://github.com/Microsoft/msbuild/issues/2728#issuecomment-345381357):
[code]

[2020-03-31 15:00] artkpv opened #571 "Working with coc.vim"
Thanks contributors for this work. How to make it work with coc.vim? I would like to have coc.vim as it works nicely with F#, python, other and also to have C# working. But coc.vim or better say coc.omnisharp extension which uses "OmniSharp.exe -lsp" (omnisharp-roslyn) have limited functionality (no real go to definition, docs, etc., etc.). And O#-vim is awesome in this way. WITHOUT coc.vim omnish

[2020-03-31 15:23] B3RR10 commented on #571
Hi, I'm having the same problem here. In my case, this issue started to happen this week, after updating the plugin. This also happens without having `coc-omnisharp` installed.
Interestingly, after the errors, I can use `:OmniSharpGlobalCodeCheck` and it starts working, with code highlighting and completion.

[2020-03-31 15:29] larntz-tbc commented on #571
Funny I was just googling because I'm having a similar issues.  Not using coc-vim though.  Just neovim / LanguageClient-neovim / omnisharp

[code]

Errors I'm seeing:

[code]

[2020-03-31 17:25] B3RR10 commented on #571
That seems tonbe the changes from the last couple of commits in master, but I didn‘t have enough time today to pursue the problem though

[2020-03-31 17:29] larntz-tbc commented on #571
No problem.  Appreciate your time and work. Whenever you get to it I'll update.  Thank you!

If you need any more info from me I'm happy to provide it.

[2020-03-31 18:16] nickspoons commented on #571
Oops, yes a PR was merged a couple of days ago which adds that `start_time` variable, but it looks like it's not working properly in neovim. Give me a sec...

[2020-03-31 18:33] nickspoons commented on #571
Fixed in 8cb30ce. Thanks for opening the issue!

[2020-03-31 18:33] #571 closed

[2020-03-31 18:45] larntz-tbc commented on #571
That fixed it!! Thanks!

[2020-03-31 18:49] nickspoons commented on #571
No worries, sorry for the hassle

[2020-03-31 22:21] #567 closed

[2020-04-01 06:39] B3RR10 commented on #571
Thank you very much! 👍

[2020-04-02 20:15] Parasrah opened #572 "Conflicts with vim-fugitive Gwrite"
# Description

When attempting to resolve merge conflicts using `vim-fugitive`'s `Gdiffsplit!` in a 3-way split, calling `Gwrite` after the conflict has been resolved results in the following error:

[code]

So I started with a basic config and only `fugitive` installed and it worked properly. I assumed it must be conflicting with one of my plugins, so using `ripgrep` searched through my plugins f

[2020-04-02 21:12] nickspoons commented on #572
This repo does not make any use of git. We check for the presence of fugitive (to prevent starting servers for fugitive buffers), and we have install scripts and README references to github projects, so the word "git" is definitely going to come up in ripgrep searches.

[2020-04-02 21:20] nickspoons commented on #572
I have just tried to create a simple repo and generate a conflict, then followed your steps, but cannot reproduce - it worked fine

[2020-04-02 21:25] Parasrah commented on #572
Ok thanks for doing that so quickly! Since opening the issue I've learned a little more about it, it doesn't seem to be consistent. I originally thought `Gwrite!` solved the issue but it just seems that `Gwrite` in general works sometimes and doesn't others. For now I'll close until I'm very sure it is this plugin conflicting. If it is, it may also be related to the size of the repo I'm in, or my

[2020-04-02 21:26] #572 closed

[2020-04-02 21:26] nickspoons commented on #572
OK, report back when you work it out!

[2020-04-03 18:47] Daksh14 opened #573 "Loads of errors after opening cs file"
Hi, these are my settings
[code]
The behaviour is there when you open a single file and with errors that are most basic ones. e.g. `The namespace "Web" doesn't exists in the namespace "System"`

This has been bugging me for quite some time. Any help will be appreciated.

The project is opened side by side in my vscode and it runs there fine without any problems

[2020-04-03 19:33] nickspoons commented on #573
I suspect your server isn't properly loaded. Try removing the line `let g:OmniSharp_server_stdio_quickload = 1` which will hopefully let the server finish loading before sending requests.

If that doesn't resolve the issue, please post your server log (`:OmniSharpOpenLog` from a .cs file)

[2020-04-03 20:06] Daksh14 commented on #573
Well thanks for the quick reply (a big fan here btw). So `let g:OmniSharp_server_stdio_quickload = 1` did not work and as I did `: OmniSharpOpenLog` from the cs file, I got this as [output](https://imgur.com/a/IpnSncx)

[2020-04-03 20:43] nickspoons commented on #573
You're presumably trying to use `:OmniSharpOpenLog` from a modified buffer, without `:set hidden`?

You can also just open the file yourself, it's in your OmniSharp-vim plugin directory, at `log/stdio.log`, so something like `~/.vim/plugged/omnisharp-vim/log/stdio.log`

[2020-04-03 20:47] Daksh14 commented on #573
Here it is
[code]

[2020-04-03 21:15] nickspoons commented on #573
Ok that looks good,, OmniSharp-roslyn seems to be loading up well. What is the "Server loaded" message echoed to Vim? If you miss it, you can see it in `:messages`. Something along the lines of "Loaded server for ...", or "Failed to load ..."

[2020-04-03 21:18] Daksh14 commented on #573
It says https://imgur.com/a/2IUVxOa

[2020-04-03 21:22] nickspoons commented on #573
Ok. That message indicates that OmniSharp-vim didn't wait for OmniSharp-roslyn to load up fully before starting to send messages. I've had similar errors to yours when that happens. Try increasing the server load timeout: `set g:OmniSharp_server_loading_timeout = 60`

[2020-04-03 21:24] Daksh14 commented on #573
Well this time it says
`Loaded server for /Users/apple/Documents/codidact/authentication/Codidact.Authentication.sln` but there are still errors on the screen like before so nothing changed

[2020-04-03 21:26] nickspoons commented on #573
Hmm. No "... after 10.6s"? Are you using the latest versions of OmniSharp-vim and OmniSharp-roslyn?

[2020-04-03 21:28] Daksh14 commented on #573
Yes, I updated them with `:PlugInstall` and did `:OmniSharpInstall`.

[2020-04-03 21:35] nickspoons commented on #573
The the message should say "Loaded server for /Users/apple/Documents/codidact/authentication/Codidact.Authentication.sln in 00.0s", right?

[2020-04-03 21:43] nickspoons commented on #573
I'm a bit stuck sorry. Things to try:

- Remove `let g:OmniSharp_server_use_mono = 1`, then restart Vim and re-install the server with `:OmniSharpInstall` (I don't know if this is necessary on macs still, I don't have one to test on)
- Compare vim's omnisharp-roslyn log (which you posted earlier) with the vscode log. Are they using the same MSBuild?

[2020-04-03 21:45] Daksh14 commented on #573
Well, it doesn't say "in 00.0s", I have tried removing mono and then reinstalling but no luck :/. I'll try comparing with vscode log

[2020-04-03 21:51] nickspoons commented on #573
Then you're not using the latest version of OmniSharp-vim. `:PlugUpdate` is the vim-plug command to update plugins - `:PlugInstall` just installs plugins you don't already have.

[2020-04-03 21:53] nickspoons commented on #573
(Not that I expect the latest version of OmniSharp-vim to help, necessarily, I think you're experiencing some kind of msbuild/omnisharp-roslyn issue. Interesting that vscode is working properly though!)

[2020-04-03 21:57] Daksh14 commented on #573
Well after that, it says `Loaded server for /Users/apple/Documents/codidact/authentication/Codidact.Authentication.sln in 11.5s ` but no change! so by seeing vscode's log, I saw that it is using a Omnisharp that is latest, so I did `let g:OmniSharp_server_path` in my .vmrc and still nothing :/

[2020-04-03 21:59] nickspoons commented on #573
Can you post the vscode OmniSharp log? It should look reasonably similar to the vim one you posted earlier

[2020-04-03 22:00] Daksh14 commented on #573
It says
[code]

[2020-04-03 22:01] nickspoons commented on #573
At this point it might also be a good idea to post your full .vimrc?

[2020-04-03 22:02] Daksh14 commented on #573
My full .vimrc
[code]

[2020-04-03 22:07] nickspoons commented on #573
Can you please try commenting out YouCompleteMe and try again?

[2020-04-03 22:10] Daksh14 commented on #573
ooh so it was that!!, it works now, thanks a lot (so sorry to waste your time over such a silly issue)

[2020-04-03 22:17] nickspoons commented on #573
Oh phew! YCM runs its own OmniSharp-roslyn and conflicts with OmniSharp-vim. No idea why it is reporting errors but 🤷

[2020-04-03 22:19] Daksh14 commented on #573
Is there any way to resolve the conflict tho? I have lost autocomplete here 😄

[2020-04-03 22:27] Daksh14 commented on #573
Well don't worry, I switched to `asyncomplete.vim` works fine. Thanks a lot for your time :)

[2020-04-03 22:27] #573 closed

[2020-04-03 22:59] nickspoons commented on #573
Yeah I would have suggested asyncomplete. If you prefer to use YCM then you really need to go all in with it, and use it instead of OmniSharp-vim.

Thanks a lot for your time

You're welcome ☺

[2020-04-08 02:00] Melandel opened #574 "Code Actions on class throw "Vim(let):E684: list index out of range: 0" when using Omnisharp_selector_ui = 'fzf'"
Hello,

I like this plugin a lot!

I noticed that with `Omnisharp_selector_ui = ''`, the code actions at the level of class declarations, such as `generate the constsructor`, or `generate substitutions...`, or `generate Equals(object)` work correctly, while with `Omnisharp_selector_ui = 'fzf'` an error `Vim(let):E684: list index out of range: 0` is thrown.

I am using gvim 8.2 on Windows, with the

[2020-04-08 04:32] nickspoons commented on #574
I'll try reproducing it later when I'm at a computer, but first - do you have fzf working for other things in Vim. e.g. buffer selection and finding files?

[2020-04-08 08:16] Melandel commented on #574
I can confirm that fzf does work for `:History`, `:Buffers` and `:BLines` - also with code actions regarding a method (for example `Use expression body for methods`

[2020-04-08 09:25] nickspoons commented on #574
Ok, very interesting, I'll try to repro

[2020-04-08 10:58] Melandel commented on #574
Thanks!

[2020-04-08 12:20] nickspoons commented on #574
@Melandel I tried this out but can't reproduce. My code actions all work fine with fzf.

I'm using gvim 8.2.241.

Are you getting any more information on that error? A function name or line number perhaps?

What type of project? .NET framework? Core? Is there a repo I can test?

[2020-04-08 12:39] Melandel commented on #574
I am using GVim 8.2 with included patch 1-430.

There is a line number: 21.

Here's all the message I get:
[code]

The code I'm using is the direct output of the follow command using dotnet core 3.1.102's cli:
[code]

It's a basic hello world, and I am using `:OmniSharpGetCodeActions` on the line n°4:
[code]

[2020-04-08 20:44] nickspoons commented on #574
Can you show the output of `:scriptnames`, so I can see what script number 30 is?

[2020-04-08 21:40] Melandel commented on #574
oh, so that 30 means the 30th in `:scriptnames`?

I'm super glad I learned that.

The script is [this one](https://github.com/Melandel/fzfcore.vim/blob/master/plugin/fzf.vim), which I copied from [here](https://github.com/junegunn/fzf/blob/master/plugin/fzf.vim) in order to add it to my list of vim packages.

[2020-04-08 22:45] nickspoons commented on #574
Ooh, now I think I might see it. There's an encoding issue involved here. Your "é" characters are not appearing in fzf.

When you select an action, we are taking the action name from fzf and using that to select the correct action to pass back to OmniSharp-roslyn. Because of the encoding error, the name presumably no longer matches? I'll have a play and see if I can do this in a more robust way.

[2020-04-09 01:21] #574 closed

[2020-04-09 01:23] nickspoons commented on #574
OK I managed to reproduce the issue, by adding some "é" characters to my actions. I've come up with a solution - see the commit message for details.

I'm pretty sure this will fix it for you, @Melandel, but of course let me know if it doesn't and I'll re-open.

[2020-04-09 08:11] Melandel commented on #574
The action now works, but removes all syntax highlighting from the file (which comes back when I do `GetCodeActions` on another line) :(

Also, would you have an idea as to how I could fix the encoding issue?

[2020-04-09 09:32] nickspoons commented on #574
Try `let g:OmniSharp_highlight_types = 3`, which updates on all code changes. I agree that triggering highlighting after any code action would be a good idea.

[2020-04-09 09:34] nickspoons commented on #574
I don't have good answers for your follow-up questions I'm afraid. All OmniSharp-vim here is send requests to the server, and present what it makes available. So it's the server that decides whether code actions should be available when the cursor is at the start of the line, or on a symbol. And also where the language settings come from.

[2020-04-13 22:06] Iron-E opened #577 "Provide raw snippet files"
# Problem

The current snippets for this plugin only work when certain other plugins are installed. This is because `omnisharp-vim` interfaces directly with those plugins, rather than providing a snippet file for them to read (see [autoload/OmniSharp.vim](https://github.com/OmniSharp/omnisharp-vim/blob/master/autoload/OmniSharp.vim#L1089)).

This causes plugins that can read `UltiSnips` snippets t

[2020-04-13 22:15] nickspoons commented on #577
Sounds sensible. Are you interested in having a go at a PR? I don't have much snippet experience but happy to help?

[2020-04-13 22:18] nickspoons commented on #577
I'm not entirely sure if I'm understanding your proposal right actually. There is no concept of "all omnisharp-vim snippets" - these are provided dynamically by the OmniSharp-roslyn server depending on the current state of the code, so we can't just populate a file ahead of time.

[2020-04-13 22:21] Iron-E commented on #577
I was afraid of this— when I couldn't find them, I figured that's where they came from. Maybe we could generate a snippet file from the server? `UltiSnips` should be capable of handling when to suggest completions. It seems like part of the code in that file I linked is doing what `UltiSnips` already does when provided such a file.

[2020-04-13 22:24] nickspoons commented on #577
But that file would need to be recreated constantly. A file of snippets only makes sense for static shortcuts. The dynamic snippets used here can be different on every use - every time you change a function argument name, the snippet to use it changes.

[2020-04-13 22:26] Iron-E commented on #577
True, and that would mean a lot of reading and writing that isn't necessarily needed. I'm taking a look at the source code for `OmniSharp-roslyn` to see if there's any good way to generate at least _some_ of the snippets ahead of time.

[2020-04-13 22:33] Iron-E commented on #577
After more consideration I think this would be best taken up with individual plugin authors. I see how this is necessary to make this a better experience, and it may be better overall if other plugins were to provide a manner for communicating with other plugins _as if_ they were `UltiSnips`.

I'm going to close the issue, as I don't believe investigating this further will lead to more extensibili

[2020-04-13 22:33] #577 closed

[2020-04-13 22:37] nickspoons commented on #577
The other alternative is just to add more integrations here - it might be pretty simple to send the dynamic snippet to coc-snippets on the fly, as we do with Ultisnips? But no it doesn't quite capture the original generic concept of the issue.

[2020-04-13 22:46] #558 closed

[2020-04-15 03:16] feynmanliang opened #578 "Dynamic snippets does not work"
`s:last_completion_dictionary` is always an empty dictionary, causing https://github.com/OmniSharp/omnisharp-vim/blob/master/autoload/OmniSharp.vim#L1086 to always fail.

I think this is because https://github.com/OmniSharp/omnisharp-vim/commit/9bfd3f7cd21b5b0855fcfd75156bb5713c855eab#diff-74bda44d257dfad5e1de8e418a18554dL101-L104 moved `CBGetCompletions` -> `action#CBGet` but did not update the s

[2020-04-15 03:43] nickspoons commented on #578
Oh right, good debugging, thanks. I'll have a look a bit later.

[2020-04-15 11:16] #578 closed

[2020-04-18 15:03] DasOhmoff opened #579 "Keep signiture help pop-up box open until finished."
Hello, I really love the new pop-up feature of omnisharp, especially the signature help feature. It would be even nicer to have the pop-up window stay open until the signature is finished.

Something like this would be nice:
![grafik](https://user-images.githubusercontent.com/10584846/58738348-5060da80-83fd-11e9-9537-d07fdbf4554c.gif)

Notice how the pop-up window stays open until escape is presse

[2020-04-18 15:30] DasOhmoff opened #580 ""g:OmniSharp.popup.position" does not seem to work. (throws error)"
Hello, when using the new popup features I noticed that the option "g:OmniSharp.popup.position" does not seem to be working, When I set this option in my vimrc, I get the following error: "Undefined variable: g:OmniSharp".

Here is my vimrc entry:
[code]

Here is the error:
![grafik](https://user-images.githubusercontent.com/16063186/79641842-386f8200-819a-11ea-8cae-c73e465acc11.png)

[2020-04-18 21:27] nickspoons commented on #580
You need to create it. The following are equivalent:

[code]

[code]

My thinking was that you can end up declaring all options in a single variable, for consistency and to prevent polluting the global scope. But perhaps this is a bit confusing?

[2020-04-18 21:31] nickspoons commented on #580
A possible alternative could be starting config with a call, e.g. `call OmniSharp#Init()` which initialises any config dictionaries required?

[2020-04-18 21:55] nickspoons commented on #580
https://github.com/nickspoons/omnisharp-vim/blob/master/doc/omnisharp-vim.txt#L48

There's a better description of how I imagined this working. But I'm seriously rethinking it now, I think I'd better remove that single `g:OmniSharp` dict.

[2020-04-19 21:45] #580 closed

[2020-04-19 22:23] #579 closed

[2020-04-19 22:24] nickspoons commented on #579
I'm pretty sure an earlier version of Vim behaved like this by default, but it doesn't now! Fixed.

[2020-04-20 09:29] DasOhmoff commented on #580
Oh, of course, somehow I did not occur to me. Thank you! <3

[2020-04-20 09:30] DasOhmoff commented on #579
Yes, not it works perfectly, Thanks!

[2020-04-20 10:17] nickspoons commented on #580
No problem, I hadn't been completely comfortable with that `g:OmniSharp` dictionary, I'm glad I got rid of it quickly, before it caused too much confusion for too many people

[2020-04-21 00:07] nickspoons commented on #507
This was fixed in #568

[2020-04-21 00:07] #507 closed

[2020-04-22 22:54] CyanBlob opened #582 "Can't use on Windows with GVim"
Sorry for the screenshot, trying to copy the text is a nightmare due to the frequency of errors popping up.

![image](https://user-images.githubusercontent.com/5949523/80041076-1a1ec480-84c1-11ea-9b16-e70414158eb0.png)

At this point, no OmniSharp commands seem to exist, not even `:OmniSharpInstall`, which I was able to run before opening the file. After opening the file, I get spammed by error me

[2020-04-22 23:26] nickspoons commented on #582
Very peculiar.

Could you please show your log from inside Vim - the actual log created when running a failing session? Open the log from inside Vim with `:OmniSharpOpenLog` from a .cs buffer, or just `:call OmniSharp#OpenLog()` from any buffer.

[2020-04-23 01:05] nickspoons commented on #582
I'm really struggling to understand these errors. Could you please comment out everything else in your config _except_ the omnisharp stuff, and see how you go? I'd like to rule out other plugins and config interfering.

[2020-04-23 02:46] CyanBlob commented on #582
Interestingly, I don't seem to be getting a log file at all from this gvim 8.2 instance. I *do*, however, get a log from the console version of vim 8.0 I also have installed, but the plugin is working in this scenario. I didn't include this log, since it seems irrelevant.

Because this console vim 8.0 worked, I decided to give gvim 8.0.69 that I also have laying around, and it's failing in a very

[2020-04-23 02:56] CyanBlob commented on #582
I tried again with a minimal vimrc:
[code]

Same errors, now in blinding red on white:
![image](https://user-images.githubusercontent.com/5949523/80054100-0a64a780-84e4-11ea-821f-e8c925c20143.png)

[2020-04-23 03:15] nickspoons commented on #582
gvim is certainly not known to fail like this, I use gvim regularly in windows (although the vast majority of my work is done in WSL). Also terminal vim in cmd.exe or powershell console or the new windows terminal works well.

There seems to be _something_ strange about your setup but it's hard to know what it is...

How are you opening gvim? What is the `:pwd` before/after opening a .cs file?

Al

[2020-04-23 03:25] nickspoons commented on #582
Can you tell me what you config directory structure looks like so I can try to replicate? where is your vimplug script located? `~/_vimfiles` is a non-standard directory, which is why I ask (the usual default windows directory is `~/vimfiles` without the "_"

[2020-04-23 03:30] CyanBlob commented on #582
Yea, this is very strange. The lack of a log is making this very difficult to make any sort of progress on, especially since I'm unfamiliar with Windows, C#, and the differences between vim and gvim.

Both before and after opening a `.cs` file, `:pwd` correctly reports that I'm in a directory with a `.csproj` file in it, and with the source files underneath it.

The screenshots are from the `:mess

[2020-04-23 03:31] CyanBlob commented on #582
Hmm. You're right, I seem to have done my structure strangely. I manually created `~/_vimfiles` and placed `vim-plug` inside it, but I also have a `~/vimfiles` directory. I'm going to try again with just `~/vimfiles` and see if it changes anything

[2020-04-23 03:34] nickspoons commented on #582
No that's OK, I can read the screenshots.

[2020-04-23 03:37] CyanBlob commented on #582
Removing `~/_vimfiles` and using `~/vimfiles` instead doesn't seem to have any impact :(

[2020-04-23 03:37] nickspoons commented on #582
So where exactly is your `plug.vim` script?

[2020-04-23 03:38] CyanBlob commented on #582
It is now under `~/vimfiles/autoload/plug.vim`

[2020-04-23 03:42] nickspoons commented on #582
So you've got this:
[code]

And nothing else? No _gvimrc?

[2020-04-23 03:44] nickspoons commented on #582
coc-omnisharp uses LSP mode (as you know) - I'm _not sure_ if it uses the same stdio exe, there might be a different build for LSP?

[2020-04-23 03:50] CyanBlob commented on #582
I've got a `_gvimrc` with some minor gui things, but I removed it when I ran the test with the minimal `_vimrc` earlier. I also ran `:PlugClean` to fully delete the old plugins. So yes, my directory structure matches what you stated.

That's a good point; I have no idea what the communication method is for coc. Does omnisharp-vim download its own `stdio.exe`, or does it use a system provided one?

[2020-04-23 03:52] nickspoons commented on #582
Try removing `~\AppData\Local\omnisharp-vim` and letting your clean environment install a new OmniSharp-roslyn server?

[2020-04-23 03:56] nickspoons commented on #582
As far as I can tell I've recreated your environment, opened gvim by double-clicking a .cs file in windows explorer - it installs the omnisharp-roslyn server, then loads the server and works. I get e.g. documentation in popups like this:

![image](https://user-images.githubusercontent.com/5274565/80057496-d5576400-857a-11ea-9825-01b915c3aafe.png)

No errors. gvim 8.2 with patches 1-241

[2020-04-23 03:56] nickspoons commented on #582
Note this is a .NET Framework solution, and I _do_ have a .sln in there. Do you have a .sln file?

[2020-04-23 03:57] nickspoons commented on #582
I wonder if OmniSharp-vim could be looking for a .sln, not finding it, looking in parent and grandparent directories until it hits a permission error?

[2020-04-23 04:02] nickspoons commented on #582
For comparison's sake, this is what my usual gvim would look like for that file:

![image](https://user-images.githubusercontent.com/5274565/80057904-da68e300-857b-11ea-9634-4c87d1c916ac.png)

[2020-04-23 04:06] CyanBlob commented on #582
I do have a `.sln` file, up one level from the `.csproj` file.
Deleting+allowing the plugin to re-download Roslyn does seem to have fixed my issue with the minimal `_vimrc` though! I'm encountering the problem I described earlier where it constantly trying to start another application that crashes immediately with my full `_vimrc` though, but I at least have a good starting point now! So thanks a

[2020-04-23 04:09] nickspoons commented on #582
Oh great! I think perhaps you had the HTTP version of the server before. I've been wanting to find a way of testing for that, and automatically switch between stdio/http. But not entirely sure how to do it yet. But it would be the final step to just enabling stdio by default (which would be very good).

[2020-04-23 04:11] nickspoons commented on #582
Try just adding a few plugins/lines of config at a time to see where that process-spawning is coming from, see if you can narrow it down

[2020-04-23 04:16] CyanBlob commented on #582
The problem seems to have been coming from the combination of `omnisharp-vim` and `vim-signify`. I'm not sure why those two don't get along, but removing the latter has fixed it!

Thanks again for helping me solve this mystery!

[2020-04-23 04:19] nickspoons commented on #582
Also strange, as I use vim-signify too 😄

But I'm glad you've got this resolved, happy to help!

[2020-04-23 04:19] #582 closed

[2020-04-27 14:13] ahbnr opened #583 "Unity on arch linux (missing .csproj and msbuild locations)"
Hi, sadly omnisharp-vim does not work at all for me. It seems it can not connect to the server, neither using http or stdio. I attached the system info and logs.

Thank you very much!

Background info: I want to use vim as editor for Unity3D

# System

* Arch Linux
* NeoVim v0.4.3
* coc.nvim is also installed
* relevant system packages (installed): dotnet-runtime dotnet-sdk mono libuv msbuild-16-b

[2020-04-27 17:29] Parasrah opened #584 ":OmniSharpInstall command missing"
Noticed today when I went to update the omnisharp server version that the install command is no longer registered. Took a quick look and narrowed it down to commit `53ac2ac9`. Reverting said commit restores the previous behaviour

[2020-04-27 21:28] nickspoons commented on #584
Oops! In that commit I moved the command from `ftplugin/cs/OmniSharp.vim` to `plugin/OmniSharp.vim`, to make it globally available instead of only from .cs buffer which trips people up.

But I forgot to remove the `-buffer` flag on the command, meaning is only available in the buffer vim is opened to!

Thanks for the report, I'll fix it soon.

[2020-04-27 21:39] #584 closed

[2020-04-28 00:14] nickspoons commented on #583
First of all, let's just concentrate on stdio. The log is cumulative (it isn't cleared at the beginning of each section) so this log includes both good logs (starting an stdio server in stdio mode) and bad logs (attempting to start an http server in stdio mode). The final 17 lines show the stdio server being correctly started up.

However there is no .sln or .csproj to be found. I am not a unity d

[2020-04-28 11:23] ahbnr commented on #583
Thank you @nickspoons, generating the project files did the trick.

I know this is slightly off-topic, but I must say, the process of getting Unity to generate these files is absolutely ridiculous.
In case anyone has a similar problem: It seems Unity only generates these files, if you have set up an editor it knows. For example VS Code. If the name of your editor is not on some sort of whitelist o

[2020-04-28 21:08] nickspoons commented on #583
I'm not sure if it's up to date, but according to the [arch wiki](https://wiki.archlinux.org/index.php/Unity3D) you need these: dotnet-runtime, dotnet-sdk, mono-msbuild, and mono.

[2020-04-28 23:18] nickspoons commented on #583
I have taken your instructions for making Unity generate .csproj files, and created a new wiki article: [Unity3D](https://github.com/OmniSharp/omnisharp-vim/wiki/Unity3D). Please feel free to update if necessary.

[2020-04-29 09:04] ahbnr commented on #583
I have all of these installed:
[code]

I also tried swapping msbuild-16-bin for mono-msbuild, which didn't help : /

btw. the log now looks like this:
[code]

[2020-04-29 10:34] nickspoons commented on #583
Can you post the omnisharp-roslyn log from VSCode? It'd be interesting to compare it with the omnisharp-roslyn log from Vim.

[2020-04-29 16:29] ahbnr commented on #583
Some examples of features which work / do not work in VSCode / NeoVim:

| Feature                                                                                                   | NeoVim | VSCode |
|----------------------------------------------------------------------------------------------|------------|-------------|
| Autocompletion of classes from the local project

[2020-04-29 20:08] nickspoons commented on #583
Ok that's interesting. The difference is that in vscode, OmniSharp-roslyn is finding **2** instances of msbuild: the "standalone" (the one it ships with and which is being used from OmniSharp-vim) and the one at `/usr/lib/mono/msbuild/Current/bin`. Perhaps vscode is doing some extra work to find that other msbuild? I was actually looking into this last night and tried installing `mono-git` from th

[2020-04-29 21:08] ahbnr commented on #583
These are the environment variables of the omnisharp process startedt by vscode (I added newlines for readability), but I think there is nothing interesting in there:
[code]

[2020-04-29 21:36] nickspoons commented on #583
An issue in OmniSharp-roslyn would make sense I think

[2020-04-30 01:44] Iron-E opened #585 "`OmniSharpRunTestsInFile` doesn't always show reason for failure"
# Description

When running unit tests with `NUnit`, there is an entry in the quickfix window upon failure that describes the error that was encountered. However, this behavior does not always occur.

If a Test class _constructor_ fails to complete (before any tests execute), the `OmniSharpRunTestsInFile` command will hide the quickfix window (instead of providing reasons for failure) saying only:

[2020-04-30 11:13] frarees opened #586 "Error on opening buffer via fzf-vim"
MacVim 8.2.539 with fzf, fzf-vim, lightline, lightline-bufferline, ale, lightline-ale (among others).

I open a `.cs` file by double-clicking the file, then issue a `:Files` command to search for another `.cs` file, and this error pops up.

[code]

It seems it only happens when opened via `:Files`. Switching to already opened buffers or opening new buffers (either via double-clicking files or `:e`

[2020-04-30 21:00] nickspoons commented on #586
Ok thanks for the report, I'll have a look. Does this only happen while the server is warming up? Or _any_ time you navigate to another .cs file with `:Files`?

Does it happen when you navigate from a non-.cs file to a .cs file? Or from a .cs file to a non-.cs file?

[2020-04-30 21:07] nickspoons commented on #585
Thanks for the report. I'm unable to look into it for the next couple of days but will definitely get to it as soon as I can.

In the mean time, could you post a _complete_ example file, to save any misunderstandings?

[2020-04-30 21:48] Iron-E commented on #585
Of course! Sorry I didn't include one before.
[TestClass.cs.txt](https://github.com/OmniSharp/omnisharp-vim/files/4561560/TestClass.cs.txt)

[2020-05-01 14:37] frarees commented on #586
It seems it does not happen if the server has not loaded yet.

Yes.

No.

No.

[2020-05-02 23:17] nickspoons commented on #585
I think the primary issue here is with `nunit` - if you try changing your test to use `xunit` instead, it behaves as expected. All we're doing in OmniSharp-vim is telling the OmniSharp-roslyn server that we want to run the tests, and reporting on what we get back. With an `nunit` test class, we get an empty array of test results. With an `xunit` test class, we get the expected array of test result

[2020-05-03 01:04] Iron-E commented on #585
I asked one of my friends who has a copy of Visual Studio to run the example file and it was gave the expected output. I don't know if that helps any, but I thought it could be relevant.

`omnisharp-vscode` actually has something else I have submitted a comment on (OmniSharp/omnisharp-vscode#3699)— it does not appear that debugging does not attach in the same cases that this `0 out of 0` message o

[2020-05-03 01:13] nickspoons commented on #585
Ha, I had just removed that "sensible fix" line from my comment, because I think I have a simpler way to do it - just point the quickfix entry to the test itself (as we do with successful tests). But including a pointer to the `:messages` output is still a good idea.

It doesn't surprise me that Visual Studio does it differently, there's a heap of integrated tooling there. What OmniSharp-roslyn ac

[2020-05-03 01:24] Iron-E commented on #585
That actually does sound better! That would take care of the auto-closing quickfix, and it would make the output be delivered in a consistent medium.

True, that's especially possible with the new-ish `job`s feature.

[2020-05-03 01:33] nickspoons commented on #585
Well the entire `stdio` version of OmniSharp-vim uses jobs for all server interactions, so we've got things set up for that aspect. We'd just have to deal with all the line parsing etc. which is certainly doable, but will take some working out.

[2020-05-03 01:35] nickspoons commented on #585
I wouldn't have thought these were related, but it'll be interesting to hear if you still see the other issue with xunit.

[2020-05-03 01:46] #585 closed

[2020-05-03 02:01] nickspoons commented on #585
OK. When you run the tests in your `nunit` demo now, the quickfix entry targets the failed test, and the echoed message is:

[code]

When running the tests in the `xunit` equivalent, the quickfix targets the error line in the constructor, and the echoed message is:

[code]

[2020-05-03 03:44] nickspoons commented on #583
@ahbnr could you try creating a `~/.omnisharp/omnisharp.json` config file for OmniSharp-roslyn, like this:

[code]

Give that a spin and then post your log - this should tell OmniSharp-roslyn to use the msbuild from your mono installation (as it is doing in vscode) and I'll be curious if that results in a valid load?

[2020-05-03 04:02] nickspoons commented on #583
I am still curious about whether the above works by itself on your system, but to get a .NET Framework project working correctly for me in OmniSharp-vim on archlinux, I set the `FrameworkPathOverride` environment variable:

[code]

You can test it out by just setting it for your vim session:

[code]

[2020-05-03 04:26] nickspoons commented on #586
@frarees I could not reproduce this. However I can see what is breaking in your stacktrace so I have fixed that - please let me know if solves the problem.

If not, please post your full .vimrc so I can have a better attempt at reproduction.

[2020-05-03 08:51] frarees commented on #586
@nickspoons I've tried the changes. It won't happen for every file, but still happens for some.

* The project I'm trying this on uses Perforce. The files are read-only (until I issue a command to make them writeable, and reload the buffer).
* There seems to be files that always present this issue, where there are files that do not. In both cases, files were read-only.
* This might be just chance,

[2020-05-03 10:56] nickspoons commented on #586
Very peculiar. This error is sort of similar to the previous one - in both cases vim is acting as if the buffer hasn't been fully loaded somehow, and is throwing errors when trying to access buffer contents (reading the contents for the previous error, applying text properties this time).

[2020-05-03 11:13] nickspoons commented on #586
I see you have ctrl+p actually not mapped to `:Files`, but to a custom function with calls fzf with the current solution path. Does the error definitely also occur when running `:Files`, or just using this mapping?

[2020-05-03 11:17] frarees commented on #586
Happens either way.

[2020-05-03 11:47] ahbnr commented on #583
So the log does not seem to change by adding this configuration file (see log at the very end of this comment). Neither do the autocompletion features improve. However, I'm not sure anymore, if not being able to find the .NET framework is really the issue, since my main problems are that Unity classes do not autocomplete and project classes do not autocomplete.
Meanwhile, classes from `System`, e.

[2020-05-03 11:53] ahbnr commented on #583
Wow, ok this worked! Unity classes now autocomplete, as do local classes of the project.
Thank you very much!

Btw. this is the log:
[code]

[2020-05-03 19:31] nickspoons commented on #583
Great to hear! I'll close this issue now then.

[2020-05-03 19:31] #583 closed

[2020-05-03 20:45] nickspoons commented on #586
OK, I'm afraid I just can't repro this. I've tried with readonly files, using your dotfiles, and files starting with blank lines and comments. I don't have a mac to test on.

Here are some ideas to test with, to try to narrow down where the issue lies:
1. Does this only happen in macvim? What about terminal vim on the same machine?
2. Does it happen with all plugins disabled except OmniSharp-vim a

[2020-05-03 22:11] frarees commented on #586
It doesn't happen with vim. Here's the version info:

[code]

And here's mvim version info:

[code]

Yes.

The issue doesn't seem to happen, and I'm not sure what else to look for. I still see e.g. unused statements highlighted.

[2020-05-03 22:21] nickspoons commented on #586
That's a much older version in your terminal. I don't know macs but my understanding was that it was usually possible to run a terminal version of macvim? This [stackoverflow answer](https://stackoverflow.com/a/5679658/1484220) suggests you can use `mvim -v` - does that give you version 8.2.539 in the terminal?

[2020-05-03 22:27] frarees commented on #586
Using `mvim -v` doesn't trigger the issue, and indeed uses the newer vim version.

[2020-05-03 22:48] #586 closed

[2020-05-03 22:50] nickspoons commented on #586
It seems then that this is limited to macvim.

In any case, I have broadened the try-catch scope and this should catch the error correctly and silently ignore it. Let me know how it goes!

[2020-05-03 23:06] frarees commented on #586
I'm still intrigued why it happens just on files starting with comments or newlines. 🤔
Seems hard to get to the root of the issue, but ideally would be nice to understand what's going on and potentially report an issue on macvim.

Tried your changes, so far so good. Tomorrow I'll do normal usage, if I still see it popping I will report back here. Thank you!

[2020-05-03 23:09] nickspoons commented on #586
Agreed, very frustrating to have to give up on finding the root cause.

Sounds good, you're welcome.

[2020-05-03 23:56] nickspoons commented on #583
I have updated the [wiki article](https://github.com/OmniSharp/omnisharp-vim/wiki/Unity3D-and-.NET-Framework) to include how to set the `FrameworkPathOverride`.

[2020-05-08 01:34] Melandel opened #587 "Non-existent symbols are not caught by omnisharp+ale"
Hello,

I'm on gvim on windows 10, have the latest version of every plugin involved.

Here's my vimrc:

[code]

And here's my source code:

[code]
I created it from a `dotnet new console -n test`.
![image](https://user-images.githubusercontent.com/48007894/81360786-038d8580-90dd-11ea-9eb9-6a5732dea614.png)

I placed obvious mistakes:
* `Cansole` instead of Console
* `VroteLine` instead of `WriteLi

[2020-05-08 01:39] nickspoons commented on #587
It sounds like your server isn't starting properly. Any "Failed to load" messages in `:messages`? Please post your server log: `:OmniSharpOpenLog`

[2020-05-08 01:47] Melandel commented on #587
Strange...

[code]

[2020-05-08 01:55] nickspoons commented on #587
Yeah, it's a server issue of some sort:

I'm going to close this as it's not an OmniSharp-vim issue, but I'm happy to help continue to debug (here or on slack).

[2020-05-08 01:55] #587 closed

[2020-05-08 01:56] nickspoons commented on #587
Are you using the latest OmniSharp-roslyn, @Melandel?

[2020-05-08 01:57] Melandel commented on #587
I am

[2020-05-08 02:01] nickspoons commented on #587
I can reproduce that `:OmniSharpOpenLog` error on Windows - I'll fix that up

[2020-05-08 02:38] nickspoons commented on #587
I am very surprised that there's just that one error line "Failed to load..." and not more of an explanation. Try opening a commandline in the directory containing your project and run:

[code]

That starts the server in "verbose" mode - see if there's any more to debug the problem there.

[2020-05-08 02:46] Melandel commented on #587
I did. But I still can't manage to find what is going on...
[code]

I tried to use the x64, x86 versions of Omnisharp, changing omnisharp's config file (as per https://github.com/OmniSharp/omnisharp-vscode/issues/3287)... Error still here...

[2020-05-08 03:01] nickspoons commented on #587
Hmm. I've had success in some circumstances with the omnisharp.json from that issue:

[code]

But that issue is half a year old and there have been various changes to OmniSharp-roslyn, Visual Studio, dotnet, msbuild in that time...

[2020-05-08 03:03] nickspoons commented on #587
Try installing the latest `dotnet` and sdks?

[2020-05-08 03:07] Melandel commented on #587
I have them.
![image](https://user-images.githubusercontent.com/48007894/81365870-9b916c00-90e9-11ea-9d47-dc97617c3954.png)

It's 5AM here. I should learn when to call it a day... haha.

[2020-05-08 03:20] nickspoons commented on #587
Much appreciated 😄

[2020-05-08 12:04] Melandel commented on #587
I managed to make it work.

I used a symbolic reference for `.omnisharp/omnisharp.json` which targeted a file in a folder I had under git. Apparently omnisharp doesn't handle that.

I made a real file and added
[code]

to make it work.

Total freaking-out session over :)

Thanks again for your help!

[2020-05-08 12:15] nickspoons commented on #587
Good to hear

[2020-05-19 13:03] FelschR opened #589 ""silent" severity items showing up"
Using the new `.editorconfig` integration, I noticed that items with severity set to `silent` & `suggestion` still show up.
I guess `suggestions` are probably intended to show up but `silent` items definitely shouldn't.
The same config works fine with `omnisharp-vscode`.

[2020-05-21 04:18] nickspoons commented on #589
`silent` items are tricky. They are returned as `LogLevel: Hidden` from O#roslyn, and we _did_ attempt to always hide these at one point. However this turned out to be a mistake, because some diagnostics _always_ appear to be marked as `Hidden`, for example "unnecessary usings", see #497

`suggestion` diagnostics are returned as `LogLevel: Info` from O#roslyn and are given the location `type` valu

[2020-05-30 23:00] sandersantema opened #590 "Server doesn't start using proper `:pwd`"
The omnisharp server is started in the wrong directory, i.e. if I launch `nvim` (in my case) from `/foo` as `nvim /bar/Program.cs` where the `/bar/` directory contains the project OmniSharp will start the server using the `/foo` directory. I got quite far looking into this but couldn't figure out what exactly goes wrong, I have however found a fix:

[code]

But I figure `let dir = expand('%:p:h')`

[2020-05-31 02:01] Redfoggg opened #591 "Pattern not found"
I install omnisharp-vim using Vundle and after open a cs file the Roslyn server was installed as well, but i cant get any completion in my project.

My models dont have completion and even standard .net core methods wont show up always returning Pattern not found.
I'm using the stdio server and don't and follow all steps twice, but none of my try get anything done.

I run Vim 8.0 on Ubuntu 18.04 l

[2020-05-31 07:22] nickspoons commented on #591
Sounds like the server isn't starting properly. Can you post your log? `:OmniSharpOpenLog`

[2020-05-31 08:12] nickspoons commented on #590
Originally, OmniSharp-roslyn and its predecessor OmniSharp-server could only be launched given a path to a .sln file. OmniSharp-vim tries to find a .sln file, either in the .cs file's directory, or a parent/ancestory directory, and if found, will start the server with this. This means that in your example, if `/bar/bar.sln` or `/bar.sln` had existed, opening Vim from `/foo` with `nvim /bar/Program

[2020-05-31 09:45] Redfoggg commented on #591
2020-05-30 22:34:33,357 ERROR Could not connect to OmniSharp server: http://localhost:44445/autocomplete
Traceback (most recent call last):
  File "/home/davidmattos/.vim/bundle/omnisharp-vim/python/omnisharp/util.py", line 220, in doRequest
    response = opener.open(req, body, timeout)
  File "/usr/lib/python3.6/urllib/request.py", line 526, in open
    response = self._open(req, data)
  File "/

[2020-05-31 10:18] sandersantema commented on #590
I think I might have not been clear enough about the problem given that `2.` wouldn't solve it. What prompted looking into this bug for me was working on two courses involving programming at the same time (python and c#) and reworking some parts of my `init.vim`. Launching omnisharp after working on python or my `init.vim` by executing for instance `:e ~/University/da/pr/4/Program.cs` (where a `.c

[2020-05-31 10:24] nickspoons commented on #591
This is not the stdio server, it is the HTTP server. Please add the following to your .vimrc, then restart Vim and run `:OmniSharpInstall`:

[code]

[2020-05-31 10:34] nickspoons commented on #590
When you do `:e ~/University/da/pr/4/Program.cs` then `%` refers to `~/University/da/pr/4/Program.cs` - it doesn't matter what file you are switching from.

That is exactly what currently happens (looking for .sln files), and my proposal is to do the same thing afterwards for .csproj files. Note that the `bufnr` argument to `s:FindServerRunningOnParentDirectory(bufnr)` is set to `%` 2 lines before

[2020-05-31 12:34] sandersantema commented on #590
Then I think this is a bug, to illustrate better I made some screenshots:
![image](https://user-images.githubusercontent.com/21057514/83352439-a25b7980-a34b-11ea-810c-01afcb085113.png)
![image](https://user-images.githubusercontent.com/21057514/83352449-b7d0a380-a34b-11ea-84d9-7af6b3df6881.png)

As you can see omnisharp doesn't start a server in the right directory.

[2020-05-31 12:51] nickspoons commented on #590
OmniSharp-vim doesn't search for projects (.csproj files). It searches for solutions (.sln files). Having it search for projects as well is what I am proposing. I wouldn't call it a bug, it's a feature that's never been added.

[2020-05-31 13:24] #590 closed

[2020-05-31 13:25] nickspoons commented on #590
Give that latest version a try, @sandersantema, see if that sorts it out for you.

[2020-05-31 18:29] sandersantema commented on #590
This works perfectly, thanks! What I thought of as a bug was based on my misunderstanding, but it's fixed now :)

[2020-06-01 15:47] ofrades opened #592 "[Question] What is the setup in the popup video?"
[Popup video](https://camo.githubusercontent.com/3bd01e6cb2841fa4c81b2d2e75d8f557c98dd07f/68747470733a2f2f7261772e6769746875622e636f6d2f4f6d6e6953686172702f6f6d6e6973686172702d76696d2f67682d70616765732f6f6d6e6973686172702d706f7075702d64656d6f2e676966)

This example looks very nice. Can someone explain what they are using? Vim or nvim? Coc, ale, asyncomplete-vim, ncm2?

[2020-06-01 20:14] nickspoons commented on #592
It's Vim 8.2. No plugins are used for auto-completion or popups, that's all native Vim with completions triggered by the normal `<C-x><C-o>`, and the signature help popup provided by OmniSharp-vim.

The demo would have looked almost identical in neovim, except for the rich documentation popups displayed beside completion options - neovim doesn't have Vim's `completeopt` `popup` option for that yet

[2020-06-02 11:44] ofrades commented on #592
Thanks @nickspoons, that is very nice. For snippets you are using UltiSnips?

[2020-06-02 14:23] levihb commented on #468
@nickspoons regarding asyncomplete, I'm not always getting suggestions, e.g.:

    var x = GetThis(argument1

Which will show all the GetThis methods with arguments of type argument1, but then soon as I press , it disappears and just starts to suggest basic suggestions again?

Similarly with:

    var x = new List<

It will show completion up to here. But then when I do e.g.

    var x = new List<

[2020-06-02 21:07] nickspoons commented on #468
@levihb can you please open a new issue, and include some screenshots or asciinema or something demonstrating exactly what you mean?

[2020-06-02 21:08] nickspoons commented on #592
I don't personally use snippets - I turn ultisnips on occasionally to test that it works but snippets are not part of my workflow.

[2020-06-03 18:28] MordechaiHadad opened #593 "[Question] No syntax highlighting for base class in inheritance?"
I am writing a colorscheme for my neovim and I can't find highlighting for inheritance as you can see [here](https://pepega.darknessservers.co.uk/u/megamind/TheAgreeableAndAwkwardBrick.png)

[2020-06-03 21:33] nickspoons commented on #593
Hi @MordechaiHadad, I think this is a limitation of the server's `/highlight` endpoint - I don't get any highlighting for a base class in that situation either.

However a couple of months ago, a new `/v2/highlight` endpoint was added to OmniSharp-roslyn. I am currently in the process of migrating over to it, in PR #588. In this version the base class _is_ highlighted, in the same way as the new c

[2020-06-03 21:42] MordechaiHadad commented on #593
Oh that's good to know, thank you for your answer.

[2020-06-03 21:42] #593 closed

[2020-06-05 16:01] sandersantema commented on #592
Are you certain there's no way to get the documentation popups given the recent developments of the floating win in neovim?  I'd really like to use the docs in neovim :)

[2020-06-05 21:52] nickspoons commented on #592
@sandersantema here's the neovim issue for adding the option: [#10996](https://github.com/neovim/neovim/issues/10996)

To do it _without_ this option is possible, but fiddly. We have to decide where to put the popup, depending on where the completion drop-down is and where the edges of the screen are etc. If neovim is going to add `completeopt=popup` then it's easier to wait for that than to roll

[2020-06-06 04:09] nickspoons commented on #592
Just to clarify @sandersantema, you can currently use `:OmniSharpDocumentation` and `:OmniSharpSignatureHelp` in neovim, and these will use floating windows to display the same documentation as is displayed while completing in Vim with `completeopt=popup`.

[2020-06-08 23:26] #591 closed

[2020-06-08 23:34] nickspoons commented on #499
Just to follow up on this, there _is_ a neovim bug here, as described in the issue linked above. There is a [neovim PR](https://github.com/neovim/neovim/pull/11819) which should resolve it, currently marked as a neovim 0.5 milestone, so hopefully not too far away.

[2020-06-09 15:36] hutterm opened #595 "[Feature request] Support vim-clap as selector plugin"

[2020-06-09 21:56] nickspoons commented on #595
Yeah it looks like that shouldn't be too complicated: https://github.com/liuchengxu/vim-clap/blob/master/PROVIDER.md

Is this something you're interested in trying to implement yourself, or more of a feature request?

[2020-06-10 08:37] hutterm commented on #595
I'm relatively new to vim, so trying this myself would be quite the challenge. I had dug around there and it seemed like clap's provider mechanism was "inspired" by fzf's, but I lack too much knowledge about vim plugins and how this all interacts to be able to understand much of this.
So I don't really think I can pull this off within the next couple of months. So rather let's say this is a featur

[2020-06-10 09:22] MordechaiHadad commented on #593
Hi @nickspoons I have updated omnisharp-vim because I saw you finally merged the PR
but I don't seem to find the new highlights added with the `/v2/highlight` endpoint.

[2020-06-10 10:37] nickspoons commented on #593
@MordechaiHadad what is output when you put the cursor on e.g. `Node2D` in your example, and run `:OmniSharpHighlightEcho`?

[2020-06-10 10:41] MordechaiHadad commented on #593
weird it says no kind found for everything...

[2020-06-10 10:52] nickspoons commented on #593
Hmm. I have noticed an OmniSharp-roslyn bug with the new endpoint which occurs occasionally, where particular buffers are not highlighted at all. Looking at the log, there is an error ocurring with a use of `Enumerable.Single()`.

I started to write a PR today to replace it with `First()`, but I couldn't create a reliable minimal repro project. I'll have another play with it.

What type of project

[2020-06-10 11:09] MordechaiHadad commented on #593
Everything in the solution(multiple files) is highlighted other than the new endpoint highlights.

[2020-06-10 11:16] nickspoons commented on #593
I don't understand what you mean. The recent PR has replaced *all* OmniSharp-vim highlighting which previously used the OmniSharp-roslyn `/highlight` endpoint, to now use the `/v2/highlight` endpoint.

You should be able to run `:OmniSharpHighlightEcho` on any non-whitespace character in the buffer and see an roslyn symbol type.

[2020-06-10 11:20] nickspoons commented on #593
We _are_ talking about OmniSharp-vim's semantic highlighting, right? Not the standard C# highlighting which ships with Vim?

[2020-06-10 11:35] MordechaiHadad commented on #593
I believe so but i'm quite unsure with all honesty

[2020-06-10 11:41] nickspoons commented on #593
OK. With that line, when you first open Vim to a .cs file, you should initially see basic Vim highlighting. Once the OmniSharp-roslyn server has finished loading, the semantic highlighting should come in over the top. Here's an example asciinema I made a few months ago - note the colours change at around the 8 second mark, when the server finishes loading:

[![asciicast](https://asciinema.org/a/28

[2020-06-10 11:47] MordechaiHadad commented on #593
okay seems like im using vim's highlights... and nothing changes at all.
why?

[2020-06-10 11:50] nickspoons commented on #593
Is OmniSharp-vim working at all? Are `:OmniSharpGotoDefinition` and `:OmniSharpFindUsages` working correctly?

[2020-06-10 11:51] nickspoons commented on #593
What is your environment?

[2020-06-10 11:57] MordechaiHadad commented on #593
1. not at all
2. define what you mean by enviroment

[2020-06-12 03:26] #499 closed

[2020-06-12 03:28] nickspoons commented on #499
The neovim PR has been merged, and is available to Windows users in the [nightly builds](https://github.com/neovim/neovim/releases/nightly)! I have tested it and it works now.

I have therefore closed this issue, and added a note to the README about the neovim issue.

[2020-06-12 03:33] nickspoons commented on #593
@MordechaiHadad the neovim bug has been fixed - if you get a [nightly build](https://github.com/neovim/neovim/releases/nightly) then OmniSharp-vim can be used with neovim on Windows.

[2020-06-12 03:33] nickspoons commented on #557
@DasOhmoff the neovim bug has been fixed - if you get a [nightly build](https://github.com/neovim/neovim/releases/nightly) then OmniSharp-vim can be used with neovim on Windows.

[2020-06-12 03:34] nickspoons commented on #554
To follow up on the neovim issue, the bug has now been fixed - if you get a [nightly build](https://github.com/neovim/neovim/releases/nightly) then OmniSharp-vim can be used with neovim on Windows.

[2020-06-12 03:59] jpfeiffer16 commented on #499
Awesome. Thanks for your work on tracking this down @nickspoons !

[2020-06-12 04:08] nickspoons commented on #499
You too, @jpfeiffer16, your proxy was integral in getting it found and fixed.

[2020-06-12 04:09] nickspoons commented on #499
Where's the :pat-each-other-on-the-back: emoji...?

[2020-06-12 09:06] MordechaiHadad commented on #593
Wtf that was fast... Thanks @nickspoons

[2020-06-12 10:19] MordechaiHadad commented on #593
How can I set my own highlights for each Type?

[2020-06-12 10:21] MordechaiHadad commented on #593
How can I set my own custom color for each type(such as ClassName, MethodName)?

[2020-06-12 11:00] nickspoons commented on #593
Just good timing on your part - #499 has been open since August last year.

You can highlight roslyn symbols using the `g:OmniSharp_highlight_groups` dictionary, like this:

[code]

If you mean that e.g. `class C1` and `class C2` get _different_ colours, I'm afraid you can't do that with OmniSharp.

[2020-06-12 11:02] MordechaiHadad commented on #593
thank you nick for the past couple days!

[2020-06-12 11:05] nickspoons commented on #593
No problem, happy to help

[2020-06-12 14:32] jpfeiffer16 commented on #499
Haha! Happy to have contributed! Thank you for working with the NeoVim org to track it down and crushing it.

[2020-06-17 17:14] Jim9137 opened #597 "Popup documentation not working"
Hello,

I'm pretty new to vim, but I simply can't get the popups feature work like in the video.

I copy pasted the example config to my _vimrc, and installed everything according to the instructions, buit still this is all I get:

![image](https://user-images.githubusercontent.com/15871173/84928324-e209bb80-b0d6-11ea-9346-d9c8685b2b5f.png)

I'm trying to test this with the default `dotnet new con

[2020-06-18 01:51] nickspoons commented on #597
@Jim9137 this is what mine looks like with clean gvim, and _no_ plugins except OmniSharp-vim:

![image](https://user-images.githubusercontent.com/5274565/84968416-8be65800-b16a-11ea-8995-03a3c5a4fce9.png)

So, exactly the same as yours, but no docs. This means that the issue lies in your `dotnet` configuration. What is the output of `dotnet --info`? Perhaps you're missing sdks?

[2020-06-18 07:35] Jim9137 commented on #597
Hello,

Here is the output. I tried on a different computer with no plugins except OmniSharp and the same example config provided in the README. Still the same output for the documentation command.

Another thing that's happening on this computer is that the autocomplete window instantly closes after trying to browse between the suggestions.

[code]

[2020-06-18 07:51] nickspoons commented on #597
Well, I can see that my versions are all ahead of yours - try installing the latest version, from the url you just posted [https://aka.ms/dotnet-download](https://aka.ms/dotnet-download)?

[code]

[2020-06-18 07:51] Jim9137 commented on #597
I also noticed the autocomplete popup window also occasionally closes instantly after trying to select next suggestion.

[2020-06-18 07:53] nickspoons commented on #597
How are you opening it? With an autocompletion plugin? Manually with `<C-x><C-o>`?

[2020-06-18 08:17] Jim9137 commented on #597
Manually with `<C-x><C-o>`. I'm using the minimal config above. :(

[2020-06-18 10:36] nickspoons commented on #597
So you open the completion menu with `<C-x><C-o>` and then select next with `<C-n>`, and it closes? But only sometimes?

[2020-06-18 10:57] Jim9137 commented on #597
Yes, I'll see if I can reproduce it. It might also just be this laptop's keyboard, it's very sensitive sometimes.

[2020-06-18 21:30] Jim9137 commented on #597
I updated to the latest .NET Core on the other computer, still the same issue.

Here is the --info now:

[code]

[2020-06-18 21:36] nickspoons commented on #597
OK, frustrating. Can you post your server log? Open it with `:OmniSharpOpenLog`. Note that this is an append-only log so contains the output of all sessions - just share the latest session.

[2020-06-18 21:48] Jim9137 commented on #597
I hope this is what you wanted!

[code]

[2020-06-18 22:03] nickspoons commented on #597
Yes, thanks.

The important line there is this one: `Failed to load project file 'K:\\GAME PROTOS\\test2\\test2.csproj'.` Your project isn't being loaded by the server.

[Here's](https://github.com/OmniSharp/omnisharp-vim/issues/587#issuecomment-625603701) a fix that worked for someone else in a similar situation - try creating a `C:\Users\Jim\.omnisharp\omnisharp.json` file containing the followi

[2020-06-18 22:43] nickspoons commented on #468
Right, over a year later and I would really like to make stdio the default, and simplify the minimal .vimrc to get a really good OmniSharp experience.

The 2 blockers for this have been:

1. The Windows neovim stdio error, which has now been fixed in neovim, see #499
2. A way of detecting which server is actually installed, so users can be informed if the wrong one is used, rather than just presen

[2020-06-18 23:10] nickspoons opened #599 "WSL: OmniSharp-rolsyn v1.35.3 project loading problem"
Loading multi-project solutions with the latest version of the OmniSharp-roslyn server does not result in a working OmniSharp. The server works fine in single-project solutions, and when running without a solution.

This is easy to see when using a statusline displaying the projects loaded, as demonstrated in PR #598 (not yet available in master): only a single project is loaded, so we don't mark

[2020-06-19 09:04] Jim9137 commented on #597
Hey, it works! Any idea why this happens, or is it omnisharp issue? I found it strange it happened in both of my computers.

Could the visual studio code omnisharp plugin be somehow interfering?

[2020-06-19 10:12] nickspoons commented on #597
Cool, glad it works!

I don't really know why it works I'm afraid, and yes it's an OmniSharp-roslyn issue. One guess is that the wrong msbuild is being picked, but I don't know why. Would you mind posting the server log again now that it's working, so we can compare them?

Did you try the same project in vscode with different results?

Vscode uses the same OmniSharp-roslyn (although installed in a

[2020-06-19 10:34] Jim9137 commented on #597
I actually deleted the omnisharp-roslyn to make sure it was not interfering, but it made no difference.

Here's how it looks like in vscode:
![image](https://user-images.githubusercontent.com/15871173/85123736-74be6d80-b231-11ea-8484-deb4b58aa15e.png)

Here's the log for the vim plugin.

[code]

[2020-06-19 17:57] ichirou2910 opened #600 "No Documentation shown on popup"
Hi. I just installed this extension yesterday, and have been trying to make it work. I found that no Documentation was given for functions on popup window. Checking manually also returned nothing but the function definition (images below). The project in the images was generated with `dotnet new console` and I haven't made any changes.
OS: Arch Linux
Editor: Neovim
`:version`
[code]
`:OmniSharpDoc

[2020-06-19 21:26] nickspoons commented on #597
Ah sorry I was tired last night, forgot to mention that that `.omnisharp/omnisharp.json` file is read by _both_ OmniSharp-vim and vscode (or rather, it's read by OmniSharp-roslyn which they both use). What I was wondering is, were you getting any documentation in vscode before adding it? I expect not.

[2020-06-19 22:29] nickspoons commented on #600
Hi @ichirou2910, this isn't an OmniSharp-vim issue, or even an OmniSharp-roslyn issue AFAIK, but rather has to do with the dotnet installation on arch I believe. See #527 and #533 for related issues.

In my arch system where I currently _do_ have docs for `Console.Writeline()` and `string.Format()`, I have used a trick from [this OmniSharp-roslyn comment](https://github.com/OmniSharp/omnisharp-ros

[2020-06-19 23:00] #597 closed

[2020-06-19 23:56] Jim9137 commented on #597
No worries! I removed the json file and you are correct, I am not receiving any documentation. In addition, the Code's Omnisharp log is throwing an exception. I guess for whatever reason the project is trying to use the wrong sdk.

[code]

[2020-06-20 04:06] ichirou2910 commented on #600
Hi @nickspoons, thanks for your response. I tried to link dotnet to the one in my dotnet installation, but it didn't work. In fact, OmniSharp for vscode didn't work too. So my guessing is not even dotnet problem but some internal problem, but I cannot find it. Can you help me?
![image](https://user-images.githubusercontent.com/51302893/85190689-e9061900-b2e4-11ea-8198-d06fb8900413.png)

[2020-06-20 04:09] ichirou2910 commented on #600
Ah yes omnisharp-vim so far worked quite well with Unity projects, tho not all functions have documentation shown up. I hope this piece of info helps a bit
![image](https://user-images.githubusercontent.com/51302893/85190826-4e0e3e80-b2e6-11ea-9ac2-9386feacabe8.png)

[2020-06-20 07:08] nickspoons commented on #600
The documentation is provided by the various libraries and SDKs, so when the documentation is missing it's due to the server not being able to find those.

For more details from OmniSharp-roslyn, add this to your .vimrc:

[code]

What are you using to trigger your autocompletion in that last screenshot? It looks like youcompleteme? In which case you're getting YCM results there, not OmniSharp-vim,

[2020-06-21 01:23] ichirou2910 commented on #600
Hi, sorry for the late reply. I dont use YCM or any autocomplete (I do use coc.nvim but haven't installed coc-omnisharp) so basically just pure omnisharp-vim, here are the log after enabling debug (> 300 lines so I uploaded into pastebin)
https://pastebin.com/70XHPiVz

[2020-06-21 08:28] nickspoons commented on #600
Ah ok so it's coc providing the auto-completion? Omnisharp-vim provides the completion content, but doesn't open the completion menu automatically.

[2020-06-21 10:34] ichirou2910 commented on #600
I got it, so basically Omnisharp-vim could not reach the documentation, which held by dotnet. So I reinstalled dotnet to different location, chown-ed it, and the documentation had shown up. Thanks for your info @nickspoons
![image](https://user-images.githubusercontent.com/51302893/85222463-631dc700-b3e5-11ea-9a9b-98a506ac9cf2.png)

[2020-06-21 10:34] #600 closed

[2020-06-23 07:31] nickspoons commented on #599
This is actually a WSL issue, reported in OmniSharp-roslyn [#1844](https://github.com/OmniSharp/omnisharp-roslyn/issues/1844)

[2020-06-24 03:51] annBeing opened #601 "action `Extract interface` delete last char of class name"
I use omnisharp-vim with stdio mode  on both window10 and ubuntu20.4.  When i used OmnisharpGetCodeAction,  and then select `Extract interface`, I will lost char of the class name. For example, name of class "UserClaimRepository" will become "UserClaimRepositor".

[2020-06-24 04:01] nickspoons commented on #601
Can you please provide a code snippet to make this easier to reproduce?

[2020-06-24 04:09] nickspoons commented on #601
It's OK, I reproduced it (my code settings generally have the brace on the same line, in which case this doesn't occur)

[2020-06-24 04:37] #601 closed

[2020-06-24 05:11] annBeing commented on #601
It's working, Thanks very much ^^

[2020-06-24 06:53] nickspoons commented on #601
You're welcome, thanks for the bug report.

[2020-06-24 16:25] dball-adashi commented on #546
This capability would be amazing.

[2020-06-24 23:32] nickspoons commented on #546
I've had a slightly more detailed look into this, and my conclusion is still that this is not something that this repo can support.

Here's what VSCode does with razor files as far as I can tell:

1.  The OmniSharp-roslyn server is started up as usual, except it is also passed in the path to a plugin dll, which I believe contains references for the translated razor .cs (see 3.)
2.  A razor languag

[2020-06-25 16:48] dball-adashi commented on #546
@nickspoons Thank you for looking into that.  In the meantime, I am just creating a vim plugin that will automate the creation of .razor files with code behind files from vim.

omnisharp-vim is an amazing plugin with coc and ale.  It is unfortunate that coc recommends coc-omnisharp instead.  I was sticking with vscode until I discovered that using omnisharp-vim instead of coc-omnisharp was the way

[2020-06-26 06:04] nickspoons commented on #546
Hi @dball-adashi,

Working out scripts like that is a very good way to get into vimscript. If you want some inspiration, have a look [here](https://github.com/OmniSharp/omnisharp-vim/issues/386#issuecomment-418209233)

[2020-06-26 07:11] i-sinister commented on #529
The rational here is that more often then not when you are having your cursor on interface/member/method you want to go to a very specific  implementation/usage. Right now this involves jumping to the QF after it is populated and searching there with regex or eyeballing (no fuzzy search). You can use FZF on QF too but this is too many keystrokes and "context switches". Besides QF might already hav

[2020-06-29 11:25] YVEF opened #602 ".Net core code documentation is not accessible from Neovim"
Hi everyone.
I use Neovim v0.4.3 + Omnisharp + Coc.nvim + .Net core.
And I cannot see the code documentation in popups.

![Screenshot from 2020-06-29 08-54-33](https://user-images.githubusercontent.com/44643054/85996127-0330ad00-b9f1-11ea-926e-99c4d9e6622d.png)

Perhaps someone knows how to fix it?

[2020-06-29 12:09] nickspoons commented on #602
Rich documentation alongside completion selections is currently not supported by neovim, see [neovim #10996](https://github.com/neovim/neovim/issues/10996)

You can still get this documentation using `:OmniSharpDocumentation` and `:OmniSharpSignatureHelp`

[2020-06-29 12:09] #602 closed

[2020-06-29 12:10] nickspoons commented on #602
Hopefully neovim will add the `popup` option to `completeopt` soon - we'll make sure we support it as soon as they do.

[2020-06-29 13:23] YVEF commented on #602
Hi @nickspoons , You are closed the issue but unfortunately :OmniSharpDocumentation also doesn't work for me. Can you help me?
![Screenshot from 2020-06-29 15-57-26](https://user-images.githubusercontent.com/44643054/86011063-c58d4d80-ba0b-11ea-9e8b-df32b0157ba9.png)

[2020-06-29 20:11] nickspoons commented on #602
Ok missing documentation in `:OmniSharpDocumentation` is a different issue. This has to do with your dotnet environment, and whether msbuild is able to find the SDK etc.

What OS are you using? Are there errors in your logs? `:OmniSharpOpenLog`

I'm happy to try to help, but there's no OmniSharp-vim problem to fix here, so I'll leave the issue closed.

[2020-06-29 20:14] nickspoons commented on #602
Also, have a look at similar issues like #597 and #600

[2020-07-02 07:32] i-sinister opened #603 "Detecting changes outside of loaded buffer"
Quite often I find myself manually restarting server with 'OmniSharpRestartServer' when there are changes made outside of current buffer. Without doing this autocompletion and code-checks do not work. Examples are:
* git operation
  * fetching changes (I prefer to close all buffers to prevent vim from asking if file should be reloaded)
  * rebasing (code-checks are a "must have" especially when re

[2020-07-02 08:21] nickspoons commented on #603
Some of these things I don't have any trouble with, particularly `:e NewFile.cs` which works fine - OmniSharp-vim happily sends the new file along to OmniSharp-roslyn which includes it in the project.

I also think git operations have been working quite well - I'm only asked to reload files if they are modified?

Generally speaking, the idea of watching files isn't something we can do on the OmniS

[2020-07-02 08:43] nickspoons commented on #603
I just saw that the `TextChanged` autocmd is only triggered for changed to the _current_ buffer, so that's not helping keep files synchronised with the server. Perhaps adding a `FileChangedShell` autocmd triggering an `/updatebuffer` call would help?

Also, I have `set autoread` in my .vimrc which helps, but this is perhaps what you try to avoid with your git operations?

[2020-07-02 11:00] i-sinister commented on #603
Thank you for the quick response.

I've just checked and indeed it worked - I must be remembering it wrong or it was some specific scenario - maybe new class was added by the commit pulled and usage of new class was added to loaded buffer.

Does it work if changed file is not loaded into buffer?

Correct, I guess most of this issue is about server side

Yes

Yes, ```g:OmniSharp_highlighting = 3```

[2020-07-02 13:37] aqez opened #604 "Slow STDIO response highlight handling"
With `let g:OmniSharp_highlighting = 2` (in neovim, on windows, using stdio omnisharp server) I'm having some freezes and slowness every time I come out of insert mode:

[code]

I tried to take a look in `stdio.vim` but am far out of my element here. I'll continue looking but I wanted to file this in case anyone else had any issues. This is while working on a mid-sized file (~900-1500 lines). I sw

[2020-07-02 14:04] aqez commented on #604
Adding more context... It would appear that calling has('nvim') is causing a good bit of it. If we could cache that it would certainly help.
[code]
[code]

[code]

[2020-07-02 15:30] aqez commented on #604
I will submit a PR in a bit, but my first try at this had some decent success. This is the same  *.cs file as input, one with caching `has('nvim')` and one without.

No caching `HighlightRH`:
[code]

Caching `HighlightRH` (saves .2 seconds on this file per call to HighlightRH):
[code]

No caching `GetHighlight`:
[code]

Caching `GetHighlight` (passing in isNvim as argument) (saves .1 second per Om

[2020-07-02 20:50] nickspoons commented on #604
Hey thanks for this, this profiling is really interesting - I had no idea a simple request like `has('nvim')` could be so heavy (when done 10000 times lol).

[2020-07-02 22:13] nickspoons commented on #604
#605 is merged, I'll leave the issue open for more work, as requested.

[2020-07-03 08:35] i-sinister commented on #603
One more case:
* moved file with NERDTree to different folder (old buffer removed, new created)
* executing global check returns errors/warning with the former file path, and trying to navigate opens empty buffer

[2020-07-03 08:43] nickspoons commented on #603
Right, in that case we haven't told the server about the removed file, so it thinks it's still there.

A server-side file watcher would solve it (and all the other issues). I'm not sure how feasible it otherwise is to catch file movements like that in Vim...

[2020-07-04 09:38] nickspoons commented on #504
Closed by #606

[2020-07-04 09:38] #504 closed

[2020-07-07 03:25] #468 closed

[2020-07-07 08:35] DuGlaser opened #607 "Syntax highlighting is broken"
Thanks for the awesome plugin!
I can code comfortably thanks to this plugin!

However, when I installed the latest version of this plugin, I encountered a few bugs.

1. The syntax highlighting is very different from the previous ones(after | before)
![スクリーンショット 2020-07-07 17 04 26](https://user-images.githubusercontent.com/50506482/86743561-ef7dea00-c073-11ea-8f6e-aba8e1d50d5c.png)

2. Commenting

[2020-07-07 08:51] nickspoons commented on #607
Hi @DuGlaser,

Thanks for opening the issue, I just merged a big PR today and it looks like some things aren't working properly, sorry about that.

One change I made was to enable highlighting by default - you can just turn it off by adding this to your .vimrc:

[code]

[2020-07-07 09:03] DuGlaser commented on #607
@nickspoons Thank you for the reply!

All the plugins I use are listed here.

But even with the other plugins over there, I still got the bug.
So I'm not sure if it conflicts with other plugins, but I'll check things out here as well.

[2020-07-07 09:35] nickspoons commented on #607
It's interesting how in your example, when you comment out `using UnityEngine;` the highlights appear to remain in place, as the code moves. Very peculiar - when I do the same, the highlights move with the code.

I'm using a more recent version of neovim (`NVIM v0.5.0-571-g721f69c4a`) - I wonder if it has to do with the version? I'll try to get hold of an older version to test with.

Did you try j

[2020-07-07 09:38] DuGlaser commented on #607
[code]
I don't have a problem when I use this.
Thank you very much!

[2020-07-07 09:42] nickspoons commented on #607
Ah OK that's good. Were you using the OmniSharp-vim highlighting before this latest change? When was the last time you updated the plugin? Highlighting has only been available in neovim since #588 was merged 1 month ago.

[2020-07-07 09:49] DuGlaser opened #608 "Using UnityEngine.** is Error"
[code]
If you write something like UnityEngin.** as above, you'll get the following error.
[code]

I also checked the log and found the following warning.
[code]

### I've tried the following
1. Reinstall omnisharp-vim using dein
2. ``rm -rf ~/.omnisharp ~/.cache/omnisharp-vim``
3. Reinstall omn​​isharp-roslyn v1.35.2(I've tried the latest version too.)

**I've investigated and this bug seems to h

[2020-07-07 09:56] nickspoons commented on #607
Ah, I just tried with neovim 0.4.3 and I see the behaviour you show in your gif

![image](https://user-images.githubusercontent.com/5274565/86763493-7abea600-c09b-11ea-8928-cd9c1261ae67.png)

However, it is fixed as soon as I leave insert mode.

So this looks like the highlight anchoring/positioning is fixed in later versions of neovim.

As for the rest of the highlighting, you can of course leave

[2020-07-07 10:00] nickspoons commented on #608
Thanks for narrowing this down to a specific commit.

Would you be able to post logs before and after that commit? I've been trying to tighten our omnisharp-roslyn integration and send requests at the correct time, but I haven't seen an error like that before.

[2020-07-07 10:02] DuGlaser commented on #607
I wasn't using OmniSharp-vim highlighting.
Also, the last time I updated the plugin was about a week ago

[2020-07-07 10:08] nickspoons commented on #607
Right, so the issue was just me turning it on by default.

Perhaps turning it on by default was a mistake. I'm not sure, I'll leave it for a while and see if any others have input.

[2020-07-07 10:15] DuGlaser commented on #608
Logging with :OmniSharpOpenLog in e6b30f572f87dc9144ddc5def14f3537af1e89c3
[code]

[2020-07-07 10:15] DuGlaser commented on #608
Logging with :OmniSharpOpenLog in 787213ff92e276ece530884b7c2a2dc3275aaf7b
[code]

[2020-07-07 11:06] nickspoons commented on #608
Thanks. Those 2 logs are very similar - are you saying that you don't get the `The type or namespace name 'UI' does not exist in the namespace 'UnityEngine'` errors when using the first commit, but you do when using the 2nd?

Do the `/Users/project_path/Temp/bin/Debug/UnityEditor.UI.dll` files which are warned as "Unable to resolve" actually exist? From all those errors it seems like the server is

[2020-07-07 11:32] nickspoons commented on #608
I've found a couple of pages which seem to suggest this is a known Unity bug:

https://forum.unity.com/threads/visual-studio-code-editor-1-1-4-error-the-referenced-project-does-not-exist.806628/
https://forum.unity.com/threads/namespace-name-ui-does-not-exist-in-the-namespace-unityengine-error-on-2019-3-2f1.831922/

Please let me know if this is just a Unity thing, or if other versions of OmniShar

[2020-07-07 11:34] DuGlaser commented on #608
/Users/project_path/Temp/bin/Debug/ UnityEditor.UI.dll does not actually exist. However, it works fine in versions prior to e6b30f5, and : OmniSharpGotoDefinition and others also worked.

[2020-07-07 11:46] nickspoons commented on #608
Now I'm getting confused.

Does e6b30f5 work properly? Or just versions before that?

Could you try adding this to your .vimrc, and post the log from the last _working_ version, and then the log from the current master? These will be quite big, it might be a good idea to use a pastebin:

[code]

This will include the raw requests and responses to/from the server in the log, as well as extra debugg

[2020-07-07 12:11] DuGlaser commented on #608
https://gist.github.com/DuGlaser/2789d2e6020e85638f5830acf0210a2b
https://gist.github.com/DuGlaser/1bbea99433ceceebd092da5a3907c0e0

These will be the logs.
In practice, the latest version of UnityEngin.UI's Text class has a When I try to jump, I get "Not Found", and with the e6b30f5 version, the You can jump.

[2020-07-07 12:34] nickspoons commented on #608
Thanks so much for the logs, very helpful.

The only real difference here is the timing of when we send requests to the server. In 787213f I changed the system to make some requests much earlier - in the various environments I've tested in this has worked well but clearly not in this one.

I don't have any Unity experience - is there any kind of sample repo I can pull to reproduce this locally? Or

[2020-07-07 23:45] nickspoons commented on #607
I don't think this one is a bug (although it highlights a neovim issue which has been fixed), so closing

[2020-07-07 23:45] #607 closed

[2020-07-08 01:27] DuGlaser commented on #608
I've created a sample repository
Try it here!

If you have any questions, please let me know!

[2020-07-08 04:20] nickspoons commented on #608
That's awesome, thank you!

I can repro in Windows, after installing unity, and setting the preferences as you described.

[2020-07-12 01:55] Melandel opened #609 "[Feature request] Make OmniSharpFindMembers display the whole signature of each member"
Right now, `OmniSharpFindMembers ` displays only the name of each member:
![image](https://user-images.githubusercontent.com/48007894/87237188-7542c200-c3f3-11ea-8ad0-a17f313b40e7.png)

It would drastically gain in power if the signature was displayed instead.

[2020-07-12 01:57] Melandel opened #610 "[Feature Request] Add support for folding members"
It would be nice to use vim's folding feature on C# files

[2020-07-12 12:29] Melandel opened #611 "Code Action "Rename file into..." does not work"
The file name stays the same after selection the code action

[2020-07-12 12:33] nickspoons commented on #611
I think this is a duplicate of #454?

[2020-07-12 13:35] Melandel commented on #611
Absolutely, sorry!

[2020-07-14 16:11] vuciv opened #612 "Error installing the OmniSharp-Roslyn server on cygwin"
Error and details"

Failed to install the OmniSharp-Roslyn server

Error: failed to download the server, possibly a network issue

The full error log can be found in the file:  /home/jf/.vim/plugged/omnisharp-vim/log/install.log

Could not run command: /cygdrive/c/Users/jf/AppData/Local/omnisharp-vim/omnisharp-roslyn/OmniSharp.exe -s \home\jf\development\project\project.sln -e utf-8

channel 0 clo

[2020-07-14 16:37] axvr commented on #612
Could you please share the contents of the error log file at: ` /home/jf/.vim/plugged/omnisharp-vim/log/install.log`

[2020-07-14 17:25] vuciv commented on #612
Ah, oops. I was able to install `unzip`, but still did not have luck

[code]

[2020-07-14 20:34] nickspoons commented on #612
Hmm. I made a couple of changes lately to allow installing the Windows server from wsl, but I don't think the cygwin part changed. Your system seems to be using the bash install script though, instead of the powershell script, which (I think) is what normally gets used by cygwin.

What is the output of `echo has('win32')` in cygwin? (I used to know this but it's been a long time since I used that

[2020-07-14 20:40] nickspoons commented on #612
This is a very confusing line. This is the cygwin path to the server, but a weird hybrid path to your .sln, with back slashes but no `C:\`

[2020-07-14 21:15] axvr commented on #612
I've done some experimenting and have managed worked out why the server download was failing, but I don't know how to fix it, or what is causing it.

OmniSharp-Vim told the installer to install to this location:

[code]

But for whatever reason when (or even before) it was passed to Curl, it expanded `jf` to `JerseyFonseca`:

[code]

But that path didn't exist (because the installer created the fi

[2020-07-14 21:22] axvr commented on #612
@nickspoons, yes, I believe the Bash script is supposed to be used by Cygwin rather than the PowerShell script.

[2020-07-14 21:47] nickspoons commented on #612
Really? We've had this in the README for a long time:

And it must have been doing that using the powershell script, right? I only just added the `-W` flag to the bash script a few days ago.

[2020-07-14 21:52] axvr commented on #612
Honestly I wasn't sure, as it's been a while, but it seems that the script automatically detects Cygwin and installs the Windows version of the server.

https://github.com/OmniSharp/omnisharp-vim/blob/38db559fb8273c42464d26aeb73ba6cca3b6e3ed/installer/omnisharp-manager.sh#L81-L89

[2020-07-14 21:52] nickspoons commented on #612
Oh so it does

[2020-07-14 21:55] nickspoons commented on #612
That part will now be overridden by the `-W` flag anyway, as `g:OmniSharp_translate_cygwin_wsl` is always `1` in cygwin:

https://github.com/OmniSharp/omnisharp-vim/blob/38db559fb8273c42464d26aeb73ba6cca3b6e3ed/installer/omnisharp-manager.sh#L108-L111

[2020-07-14 21:58] nickspoons commented on #612
So it error is this:

@vuciv are you using a symlink for your home directory? Or is this a cygwin thing?

[2020-07-15 00:37] nickspoons commented on #612
I have tried installing cygwin to have a play with this. I just used the default home location, and OmniSharp-vim was able to install the server with no problems - it was installed to default the Windows location `C:\Users\<username>\AppData\Local\omnisharp-vim\omnisharp-roslyn`.

However ... OmniSharp-vim doesn't appear to work. It starts the server, sends and receives messages over stdio, but th

[2020-07-15 00:58] vuciv commented on #612
@nickspoons Thanks for all of your inputs.

The issue with installing the server seemed to be with $HOME. I changed `location = "$HOME/.omnisharp"` to `location="C:/cygwin64/home/<username>/.omnisharp"`

I also added `let g:OmniSharp_server_path = 'C:\cygwin64\home\jf\.omnisharp\OmniSharp.exe'` to my .vimrc

Now, what you are describing @nickspoons is happening. The server starts, but nothing else

[2020-07-15 00:58] vuciv commented on #612
Oops, I didn't mean to close this... Sorry.

[2020-07-15 01:10] vuciv commented on #612
Hm, now I get the "No Pattern Found" error when I attempted to see what is going on in the log. Similar to the issue in @ #591

Here is my log output

`
2020-07-14 19:56:43,445 ERROR Could not connect to OmniSharp server: http://localhost:55167/checkalivestatus
Traceback (most recent call last):
  File "/home/fonseca/.vim/plugged/omni:OmniSharpOpenLogsharp-vim/python/omnisharp/util.py", line 220,

[2020-07-15 01:40] nickspoons commented on #612
@vuciv you'll need to reinstall the server, since the HTTP server is a different binary

[2020-07-15 01:44] nickspoons commented on #612
@vuciv instead of this:

[code]

Try this:

[code]

This should have a similar effect, except it will let you re-install to this location (if you set `g:OmniSharp_server_path`, OmniSharp-vim won't allow you to overwrite that location with a fresh `:OmniSharpInstall`).

[2020-07-15 03:06] vuciv commented on #612
@nickspoons Pretty much the exact same result. Maybe cygwin just can't communicate with the server :|

[2020-07-15 03:11] nickspoons commented on #612
@vuciv I don't think it can, with the stdio server.

I've just done it with the HTTP server successfully though. Note that it takes a little while for the server to warm up, and most requests will time out during the warm up period.

[2020-07-16 20:43] DasCleverle commented on #603
It might be a good thing to checkout how omnisharp-vscode handles file renaming/moving. In my experince it worked fine.

[2020-07-17 00:56] #454 closed

[2020-07-17 00:56] #611 closed

[2020-07-17 00:58] nickspoons commented on #454
It turns out this is not out of OmniSharp-roslyn's scope at all - it is actually the server that deletes the old file and creates the new one. But we needed to request it properly and handle the buffers tidily on our end. Done now.

[2020-07-17 00:59] nickspoons commented on #603
I've just fixed #454 - "rename" code actions now work correctly. Is that what you're referring to, @DasCleverle, or more general handling of renames in vim?

[2020-07-17 01:53] #612 closed

[2020-07-17 01:58] nickspoons commented on #599
OmniSharp-roslyn PR here: https://github.com/OmniSharp/omnisharp-roslyn/pull/1851

[2020-07-17 01:59] #592 closed

[2020-07-17 13:51] DasCleverle commented on #603
I mean the general things, like moving a file in NERDTree. IMO omnisharp-vim should detect the moved file and send the change to the server. Or better, the server should detect changes to the project files and update its state internally.

[2020-07-17 20:31] nickspoons commented on #603
We might be able to detect non-focused loaded files being moved with autocmds on the vim side, but we won't be able to detect changes to files that haven't been loaded yet, or detect what a file has been renamed _to_ if it happens externally.

I agree this should be happening on the server, but don't know if there are plans for file watchers on all C# files in OmniSharp-roslyn though.

[2020-07-22 23:25] nickspoons commented on #599
Fixed in v1.35.4, by https://github.com/OmniSharp/omnisharp-roslyn/pull/1857

[2020-07-22 23:25] #599 closed

[2020-07-26 00:25] ofrades commented on #592
@nickspoons and for error checking? The red dot is very nice, are you using ale? I have tried without plugins but it is not working out of the box. Omnishapr-vim detects the error with globlalcodecheck if I run the command, but is not visible in the editor like yours.

[2020-07-26 04:50] nickspoons commented on #592
@ofrades yes it's ALE. I configure it like this:

[code]

[2020-07-29 22:01] rodrigomocca opened #617 "source OmniSharp timeout after 5000ms"
Hi,
I've copied/pasted the .vimrc file from another pc and I can't get Omnisharp working.
In the other pc is working as expected, but in this is giving me a timeout.

I'm installing like this:
Plug 'OmniSharp/omnisharp-vim'

And I have this mappings:
nnoremap <Leader>u :OmniSharpFindUsages<CR>
nnoremap <Leader>gd :OmniSharpGotoDefinition<CR>
nmap <silent> oi :OmniSharpFindImplementations<CR>
nnore

[2020-07-29 22:10] nickspoons commented on #617
I don't think that error is coming from OmniSharp-vim - can you please share your _full_ .vimrc?

[2020-07-29 22:13] rodrigomocca commented on #617
Yes, of course:

set path=.\**
set number
set mouse=a
set numberwidth=1
set clipboard=unnamed
syntax enable
set showcmd
set ruler
set encoding=utf-8
set showmatch
set sw=2
set relativenumber
set laststatus=2
set noshowmode
set wildmenu
set wildmode=list:longest,full

call plug#begin('~/.vim/plugged')

" Themes
Plug 'morhetz/gruvbox'

" IDE
Plug 'easymotion/vim-easymotion'
Plug 'scrooloose/nerdtree

[2020-07-29 22:14] nickspoons commented on #617
Thanks - do you mind editing that and wrapping the .vimrc in ` ``` ` regions? Some of the vimscript is being lost in the markdown translation.

[2020-07-29 22:16] rodrigomocca commented on #617
I've updated the message, please let me know if you need anything else

[2020-07-30 00:03] nickspoons commented on #617
Sorry, I got called away - yes that's much easier to read.

Is it possible that CoC is using its coc-omnisharp integration, and it's _that_ that is giving the error?

[2020-07-30 00:06] rodrigomocca commented on #617
I have no idea.
The same .vimrc is working on another pc without problems, but maybe I've done something without knowing.
How can I disable coc-omnisharp?

[2020-07-30 00:07] nickspoons commented on #617
I don't know, I don't use Coc. But I can see someone getting the same error here: https://github.com/coc-extensions/coc-omnisharp/issues/5#issuecomment-525761961

[2020-07-30 00:07] nickspoons commented on #617
Does CoC have its own configuration file, outside the .vimrc?

[2020-07-30 00:24] rodrigomocca commented on #617
I don't have any additional coc file.
I've tried to remove coc and now the timeout dissappeared, but nothing of omnisharp is working.
The OmnisharStatus says everything is running but I can't see anything.
In the PC I have this working, once I open a .cs file, I have colors in code, and I have suggestions while I'm typing.

[2020-07-30 00:27] nickspoons commented on #617
Can you post the log? `:OmniSharpOpenLog`

[2020-07-30 00:33] rodrigomocca commented on #617
NVIM v0.4.3

OmniSharp server started.
    Path: C:\Users\rodri\AppData\Local\omnisharp-vim\omnisharp-roslyn\OmniSharp.exe
    Target: C:\repos\test
    PID: 4048

[info]: OmniSharp.Stdio.Host
        Starting OmniSharp on Windows 6.2.9200.0 (x64)
[info]: OmniSharp.Services.DotNetCliService
        DotNetPath set to dotnet
[info]: OmniSharp.MSBuild.Discovery.MSBuildLocator
        Located 2 MSBuil

[2020-07-30 00:40] nickspoons commented on #617
Ah this is neovim on Windows. This is the issue described in the [README](https://github.com/OmniSharp/omnisharp-vim#asynchronous-server-interactions-over-stdio), and in #499 - it's a neovim bug. The solution is to either use Vim instead of neovim, or use [neovim-nightly](https://github.com/neovim/neovim/releases/nightly).

[2020-07-30 00:47] rodrigomocca commented on #617
Oh, but the other PC is also with Windows and it's working great.
Well, I'll move to vim and let you know.
Thanks for your help.

[2020-07-30 00:52] nickspoons commented on #617
Can you check the version of neovim running on the other PC? Could it be a nightly build?

[2020-07-30 00:53] rodrigomocca commented on #617
NVIM v0.4.3

[2020-07-30 00:55] nickspoons commented on #617
Yeah that's a nightly build

[2020-07-30 00:55] rodrigomocca commented on #617
Great, I'll install this version on this PC too.

Thanks for all your help.

[2020-07-30 00:55] nickspoons commented on #617
No worries

[2020-07-30 00:55] #617 closed

[2020-08-03 17:58] Melandel opened #618 "[Feature Request] Add support for Code Action "add a project reference to ...""
Hello,

Omnisharp proposes to add a project reference for me, which is nice, but for now, when I select that action, a `No action taken` is displayed.

Is it possible to implement this code action?

[2020-08-03 20:08] nickspoons commented on #618
Hi @Melandel, I don't think I've seen that code action offered before. How do I repro?

[2020-08-03 20:27] Melandel commented on #618
Let me try to get a simple scenario for you :)

[2020-08-03 21:04] Melandel commented on #618
I can reproduce with 4 projects (sorry if I couldn't do better)

Here's a repo with the code: git@github.com:Melandel/AddAProjectReference.git

You can reproduce by running omnisharp on the `sln` file and put the cursor on `C/OtherInterfaceImplementation.cs`, raw 3 on the interface `OtherInterface`, then trigger `GetCodeActions`.

I get these options:
![image](https://user-images.githubusercontent

[2020-08-03 21:41] nickspoons commented on #618
OK I see what you mean. Running that code action, we get this response from the server:

[code]

It might be that we should be requesting it differently, I'll try to see what happens in VSCode

[2020-08-03 22:08] nickspoons commented on #618
I tried in VSCode and got the exact same result. I think you're going to need to ask this in [omnisharp-rolsyn/issues](https://github.com/OmniSharp/omnisharp-roslyn/issues)

[2020-08-03 22:08] #618 closed

[2020-08-03 22:28] nickspoons commented on #618
@Melandel I created an issue: https://github.com/OmniSharp/omnisharp-roslyn/issues/1873

Thanks for the repro, that makes it easy to demonstrate.

[2020-08-07 11:39] i-sinister commented on #603
Provided that we can not reliably detect all changes, does server api supports an "intelligent refresh" of the state? Currently I am doing 'server restart' but it is slow on a large code base and "intelligent" refresh could work faster if only few files were change - server knows files of the project/solution so it could cached versus actual file content.

[2020-08-07 23:56] nickspoons commented on #603
As soon as you open a buffer in a window, OmniSharp-vim updates its state on the server. So if you have updated 2 or 3 files, you can quickly open them all in Vim and that will sync them with the server.

We could add functionality to make it easier to do this by calling a function with a filename or list of filenames to sync them, we just need to work out what this should look like. I suspect it'

[2020-08-08 00:04] nickspoons commented on #603
I spoke to David Driscoll on slack the other day and he told me this:

So vscode _does_ perform its own file watching. We can't do that in Vim, although we should be able to have autocmds handle changes to .cs buffers which have been opened. This is something I haven't had time to look into yet.

[2020-08-14 05:35] ProgrammingLife opened #619 "Pattern not found "/osfu" on Linux"
I've completed all the install instructions but I have "Pattern not found" error message. I have some error records in my logs. But how do I install .NETFramework on Linux?

**:OmniSharpOpenLog**
[code]

I have the latest stable dotnet version:
[code]

Vim: 8.2
Linux Mint: 19.1

[2020-08-14 06:00] DominikStransky opened #620 "Better documentation"
Hey there!
Maybe I'm just dumb and didn't know where to look :sweat_smile: but I spent hours trying to figure out (by googling) how to enable static code analysis (like stylecop).

Then after having slept over it, the :OmniSharpCodeFormat command caught my eye and I was trying to figure out where omnisharp-vim gets its information for this command. So I started looking into the actual sources of o

[2020-08-14 06:05] nickspoons commented on #619
This issue is very hard to understand. "/osfu" looks like a mapping ... when do you get that error? What is the _exact_ error?

Partial logs are also difficult to read, a single line misses the context of the error.

[2020-08-14 06:15] nickspoons commented on #620
Yeah some good wiki articles describing various config options are on my eternal Todo list.

Would you be interested in starting one off with your findings about the `.omnisharp/omnisharp.json` file?

Note that this is purely an OmniSharp-roslyn config file, it's not used by OmniSharp-vim at all.

[2020-08-17 22:16] nickspoons commented on #619
I'm going to close this due to lack of response/information. The error from the included log line appears to be a .NET or possibly [OmniSharp-roslyn](https://github.com/OmniSharp/omnisharp-roslyn) issue, which I'm happy to try to narrow down but can't actually do anything about in this repo.

[2020-08-17 22:16] #619 closed

[2020-08-19 18:50] zatherz commented on #603
I still have to run :OmniSharpRestartAllServers, create a new blank buffer, delete all previous buffers and then reopen files when I add a file, otherwise I get bogus "class already defined" errors. Is not having to restart the server every single time I add or rename a file really such low priority?

[2020-08-19 21:23] nickspoons commented on #529
Anyone watching this issue, there is a PR #621 to optionally use fzf for `:OmniSharpFindUsages` results.

[2020-08-19 21:56] nickspoons commented on #603
@zatherz I'm not sure who you think you're talking to, but there's no Microsoft here, just users contributing to a tool we like.

Why would you restart _all_ servers instead of just the one you're currently in? What do you want a `/reloadsolution` endpoint for, that `:OmniSharpRestartServer` doesn't do?

There's certainly no need to restart the server when you _add_ a file, that works fine. The is

[2020-08-20 01:28] #529 closed

[2020-08-20 01:31] nickspoons commented on #529
Add this to your .vimrc to get your FindUsages results in fzf:

[code]

[2020-08-24 03:56] zatherz commented on #603
I was under the impression that this issue was also about adding files, since that by itself produces a redefinition error for me.
![nvim-qt](https://user-images.githubusercontent.com/4568670/91002315-9b50aa00-e5ce-11ea-8e85-541a66b33e65.gif)

[2020-08-24 04:27] nickspoons commented on #603
OK I don't experience that. I will try to build a very minimal vim config later on but here's a short demo of me trying to recreate your demo.

[![asciicast](https://asciinema.org/a/tf8DKp8HeflxheUfNPOQOM2j3.svg)](https://asciinema.org/a/tf8DKp8HeflxheUfNPOQOM2j3)

[2020-08-24 11:27] nickspoons commented on #603
@zatherz I just tried a very similar test (without NERDtree) using this .vimrc:

[code]

I still get OmniSharp support for the new file, and no warning about the global namespace already containing Test.

Can we see your full .vimrc?

[2020-08-24 19:37] zatherz commented on #603
Sure: [init.vim](https://hastebin.com/ipucewicuj.vim). OmniSharp version is 1.37.0, NeoVim version is 0.4.3-3 and apparently [I'm not the only one experiencing this](https://github.com/OmniSharp/omnisharp-vscode/issues/785#issuecomment-674574383).

[2020-08-24 20:32] nickspoons commented on #603
This is an asciinema of me using your config, in the project I created in the previous asciinema:

[![asciicast](https://asciinema.org/a/tabZ2Bhdv3nbpFaDfDszXkx9q.svg)](https://asciinema.org/a/tabZ2Bhdv3nbpFaDfDszXkx9q)

Clearly there's something else going on here. How did you create your project? Mine is:

[code]

In your demo, is there any chance you have previously created another file, filled

[2020-08-25 19:51] nickspoons commented on #603
So weird! I don't know what else I can do to repro this, we seem to be doing exactly the same things.

[2020-08-25 20:45] nickspoons commented on #603
@zatherz since we've come this far, do you want to try to add `let g:OmniSharp_loglevel = 'debug'` to your config, run your demo again, and share the `:OmniSharpOpenLog`? Then I can do a direct comparison with what happens on my system and try to drill down into where they are diverging.

[2020-08-26 19:03] compilercomplied commented on #607
Hope commenting on a closed issue doesn't come as annoying. I've tested this in a barebones nvim config, but I decided to check the issues later.

I'm not sure the plugin's syntax highlighting is "correct": it looks like it's colouring many of roslyn's classification types the same way. The only difference between the screenshots is tweaking the value of `OmniSharp_highlight_groups`:

Before:
![im

[2020-08-26 21:13] gabrieljoelc opened #624 "Installer fails on WSL 2 with syntax error"
With a fresh install of omnisharp-vim, I answer "yes" to install the roslyn server the first time and get this error:
[code]

I have both `curl` and `wget` installed which isn't the issue anyway since it doesn't like the _syntax_ for some reason.

I ran the body of `get_latest_version()` method directly in my terminal and it worked. 🤷‍♂️

I also tried running the script directly in the terminal an

[2020-08-26 22:10] nickspoons commented on #624
How strange.

Does the script get any further if you skip that function by passing in the version?

[code]

[2020-08-26 22:13] nickspoons commented on #624
what shell are you using in your wsl terminal?

[2020-08-26 22:26] gabrieljoelc commented on #624
Good idea on trying different version. i didn't try that. unfortunately, I get the same error with both:
[code]
and from the docs about [WSL limitations](https://github.com/OmniSharp/omnisharp-vim#asynchronous-server-interactions-over-stdio):
[code]

I am using `zsh`:
[code]

[2020-08-26 22:49] nickspoons commented on #607
Hi @compilercomplied, I would say that yes, that is the expected behaviour.

It might be that we can find better defaults, but I'm not sure what the best way to go about that would be - some kind of public poll/discussion?. As you've said, it is reasonably simple to change groups to whatever you like, and get full control over your highlighting.

I don't like to tweak the defaults too much, as tha

[2020-08-26 23:15] nickspoons commented on #624
The script is invoked using `/bin/sh` - what is that linked to on your system? `/bin/sh --version` ?

[2020-08-26 23:36] nickspoons commented on #624
@gabrieljoelc I just updated the script slightly and simplified the conditionals. Can you check to see whether your system likes this version any better?

[2020-08-27 00:44] gabrieljoelc commented on #624
just tried latest with both versions above and got the same error.

oh interesting.`sh --version` isn't working:
[code]
tried searching the interwebs for other ways to check `sh` version but haven't found it yet.

[2020-08-27 01:22] nickspoons commented on #624
you could try `ls -l /bin/sh` too

[2020-08-27 08:14] zatherz commented on #603
[stdio.log](https://github.com/OmniSharp/omnisharp-vim/files/5134988/stdio.log)

[2020-08-27 08:16] zatherz commented on #603
[stdio.log](https://github.com/OmniSharp/omnisharp-vim/files/5135000/stdio.log)

[2020-08-27 08:56] nickspoons commented on #603
@zatherz I think you might be using a very outdated version of OmniSharp-vim. The logs now look like this:

[code]

[2020-08-27 09:36] zatherz commented on #603
Here's me wiping the entire omnisharp-roslyn dir and letting omnisharp-vim reinstall OmniSharp: [![asciicast](https://asciinema.org/a/gI4CIN883CGP9vgRIIaluzh7H.svg)](https://asciinema.org/a/gI4CIN883CGP9vgRIIaluzh7H)

[2020-08-27 09:59] axvr commented on #624
Which Linux distro are you using in WSL2?  Ubuntu?

[2020-08-27 10:24] nickspoons commented on #603
Right, that's the server, OmniSharp-roslyn.

But the logs are written by OmniSharp-vim, the client. Can you try to `git pull` or `:PlugUpdate` or however you update your vim plugins? I don't know if it will help this situation but a lot has changed since our logs looked like the one you posted.

[2020-08-27 11:12] zatherz commented on #603
I guess I'm still too much of a newbie to vim/neovim because I assumed vundle's `PluginInstall` also updated plugins, and somehow did not notice `PluginUpdate` existed. Indeed after updating I'm no longer experiencing the issue with creating new files. Sorry for all the trouble.

[2020-08-27 11:13] nickspoons commented on #603
Oh that's great to hear, it's always good to be able to get to the bottom of these things.

[2020-08-27 16:00] gabrieljoelc commented on #624
[code]

[code]

[2020-08-27 16:11] compilercomplied commented on #607
I personally think it's kind of weird; if everything is highlighted then nothing actually is. Nevertheless, if that's the expected outcome  and it's trivial to change, I guess there is any reason to change it.

Thank you for the quick response!